---
layout: base_default
title: Фотографии
---

<section class="space-in-v-mega-xs space-in-v-giga-md slide-up-fade-in row photos">
	<h1 class="col-xs-12">{{ page.title }}</h1>

	{% for post in site.photos reversed %}
		<article class="col-xs-12 col-sm-4 col-md-3 col-lg-2 space-out-bottom-micro-xs item">
			<a href="{{ post.url }}" class="link-photo">
				<div class="thumbnail" {% if post.thumbnail %}style="background-image: url('http://res.cloudinary.com/{{ site.cloudinary }}/image/upload/c_thumb,h_150,q_100,w_300/{{ post.thumbnail }}')"{% endif %}></div>
			</a>
			<div class="space-in-top-nano-xs meta">
				<a href="{{ post.url }}">{{ post.title }}</a>
				<time class="date">{{ post.date | russian_date }}</time>
			</div>
		</article>
	{% endfor %}
</section>