---
layout: default
title: Теги
description: Список тегов блога
---

{% include_cached header.html %}

<div class="content">
	<div class="common full">
		<div class="tag-cloud">
			{% assign tags = site.tags | sort %}
			{% for tag in tags %}
				<a href="{{ site.baseurl }}/tag/{{ tag | first | slugify }}/">
					{{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
				</a>
			{% endfor %}
		</div>
	</div>
</div>

{% include breadcrumbs.html %}
{% include_cached footer.html %}