<nav class="row actions">
	<div class="col-xs-12 col-sm space-in-bottom-nano-xs space-in-bottom-zero-md">
		<time>{{ page.date | russian_date }}</time>
		{% if page.categories.size > 0 %}
			<span class="space-out-h-nano-xs">&#183;</span>
			{% for category in page.categories %}								
				<a href="{{ site.baseurl }}/blog/categories/{{ category | replace:' ', '-' | downcase }}/">{{ category }}</a>
			{% endfor %}
		{% endif %}
	</div>

	<div class="col-xs-12 col-sm-shrink space-in-top-nano-xs space-in-top-zero-md">
		<label class="link link-action" title="Поделиться записью в соцсетях" for="fsociety-{{ page.index | plus: 1 }}">Поделиться</label>
	</div>
</nav>