<article class="{% unless forloop.first %}space-in-top-kilo-xs{% endunless %} post">
	<h1><a class="link-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | improve }}</a></h1>
	{% if post.image %}
	<figure class="space-minus-h-micro-xs space-minus-h-mili-md space-minus-h-base-lg thumbnail">
		<a href="{{ post.url }}" class="link-photo">
			<img src="https://res.cloudinary.com/{{ site.cloudinary }}/image/upload/{{ post.image }}">
		</a>
	</figure>
	{% endif %}
	{{ post.content | improve | extlinks | split: '<!-- more -->' | first }}
	{% if post.content contains '<!-- more -->' %}
		<p><a href="{{ post.url | prepend: site.baseurl }}">Читать полностью &rarr;</a></p>
	{% endif %}	
</article>