<article class="space-in-v-kilo-xs post">
	<time>{{ post.date | russian_date }}</time>
	<h1><a class="link-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | improve }}</a></h1>
	{% if post.image %}
	<figure class="thumbnail">
		<a href="{{ post.url }}" class="link-photo">
			<img src="https://res.cloudinary.com/{{ site.cloudinary }}/image/upload/{{ post.image }}">
		</a>
	</figure>
	{% endif %}
	{{ post.content | improve | extlinks | split: '<!-- more -->' | first }}
	{% if post.content contains '<!-- more -->' %}
		<p><a href="{{ post.url | prepend: site.baseurl }}">Читать полностью &rsaquo;</a></p>
	{% endif %}	
</article>