{% unless page.hidden == true %}
<section class="space-out-top-mega-xs comments">
	<button id="comment" class="space-auto-h-xl slider"><a class="link-button" data-disqus-identifier="disqus-{{ page.index | plus: 1 }}">Комментировать</a></button>
	<a class="anchor" id="comments"></a>
	<div id="disqus_thread" class="thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{ site.disqus }}';
		var disqus_identifier = 'disqus-{{ page.index | plus: 1 }}';
		var disqus_title = '{{ page.title }} · {{ site.name }}';
		var disqus_url = '{{ page.url | prepend: site.url }}';
    </script>
</section>
{% endunless %}