{% if page.cover %}
	<div class="cover">
		<div class="bg"></div>

		<section class="space-in-h-micro-xs space-in-h-mili-md space-in-h-base-lg head">
			<header class="space-in-top-mili-xs space-auto-h-xs linel max">
				<div class="row row-reverse-xs row-middle-sm">
					<div class="col-xs-12 col-sm space-in-bottom-mili-xs space-in-bottom-zero-md">
						<div class="search space-auto-left-md">
							<div class="search-form">
								<input type="text" id="search-input" class="search-box" />
								<span class="search-button">
									<i class="fa fa-search open" aria-hidden="true"></i>
									<i class="fa fa-times close" aria-hidden="true"></i>
								</span>
							</div>
							<div class="dropdown">
								<ul class="results" id="results-container"></ul>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-shrink logo">
						<a class="link-logo" href="{{ site.baseurl }}/">
							<img srcset="/static/images/avatar_96x96.png 2x, /static/images/avatar_192x192.png 4x" src="/static/images/avatar_48x48.png" width="48" height="48" alt="{{ site.name }}">					
						</a>
					</div>
				</div>
			</header>

			<div class="space-in-h-micro-xs space-in-h-mili-md space-in-h-base-lg content">
				<div class="space-in-bottom-mili-xs space-auto-h-xs linel max info">
					<h1>{{ page.title }}</h1>
				</div>
			</div>
		</section>

		<style type="text/css">
			.cover .bg {
				background-image: url('https://res.cloudinary.com/{{ site.cloudinary }}/image/upload/{{ page.cover }}');
			}
		</style>
	</div>
{% endif %}