{% if page.likes.size > 0 and page.dislikes.size > 0 %}
<section class="space-in-h-micro-xs space-in-h-base-sm space-minus-h-micro-xs space-minus-h-base-sm gamecard">
	<div class="space-auto-h-xs space-in-v-mili-xs row linel">
		{% if page.dislikes.size > 0 %}
		<div class="col-xs-12 col-sm-6 space-in-h-zero-xs space-in-left-zero-sm space-in-right-nano-sm">
			<div class="dislike">
				<strong>Не понравилось</strong>
				<ul>
				{% for dislike in page.dislikes %}
					<li>{{ dislike }}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
		{% if page.likes.size > 0 %}
		<div class="col-xs-12 col-sm-6 space-in-h-zero-xs space-in-right-zero-sm space-in-left-nano-sm">
			<div class="like">
				<strong>Понравилось</strong>
				<ul>
				{% for like in page.likes %}
					<li>{{ like }}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
		{% if page.vote %}
		<div class="space-in-top-mili-xs space-in-h-zero-xs space-h-auto-xs col-xs-12">
			<div class="space-auto-h-xs vote">
				<div class="voted">{{ page.vote }} из 10</div>
				<canvas id="chart-{{ page.index }}" width="180" height="180"></canvas>
				<script type="text/javascript">
					var ctx = document.getElementById("chart-{{ page.index }}");
					var myChart = new Chart(ctx, {
						type: 'doughnut',
						data: {
							datasets: [{
								label: "Оценка игры",
								data: ['{{ page.vote }}', '{{ 10 | minus: page.vote }}'],
								backgroundColor: [
									'#3498db',
									'#ffffff'
								],
								borderWidth: 1,
								borderColor: '#fff',
								cutoutPercentage: 10
							}]
						},
						options: {
							tooltips: {
								enabled: false
							}
						}
					});
				</script>
			</div>
		</div>
		{% endif %}
	</div>
</section>
{% endif %}