{% if page.header == "true" %}
	{% if page.cover %}
	<header>
		<figure class="intro">
				<div class="avatar">
					<a href="{{ site.baseurl }}/">
						<img src="{{ site.url }}{{ site.logo-white }}" />
					</a>
				</div>
			<div class="background" style="background-image: url('{{ page.cover }}');"></div>
			<figcaption class="caption">
				<h1 class="title">{{ page.title }}</h1>
				<p class="subtitle">{{ page.subtitle }}</p>
			</figcaption>
			<span class="overlay">
				<svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" PreserveAspectRatio="none">
				<path fill="#ffffff" d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z"
				/>
				</svg>
			</span>
		</figure>
	</header>
	{% endif %}
{% endif %}