<article class="space-out-v-mega-xs space-out-v-giga-md space-auto-h-xl post">
	<h1>
		<a class="link-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	</h1>

	{{ post.content | improve | extlinks | split: '<!-- more -->' | first }}

	{% if post.content contains '<!-- more -->' %}
		<a class="link-readmore" href="{{ post.url | prepend: site.baseurl }}#more" title="Читать далее">&bull; &bull; &bull;</a>
	{% endif %}

	<nav class="row actions">
		<div class="col-xs-12 col-sm-shrink space-in-bottom-nano-xs space-in-bottom-zero-sm">
			<a class="link link-action" href="{{ post.url | prepend: site.baseurl }}"><time>{{ post.date | russian_date }}</time></a>
			{% if post.categories.size > 0 %}
				<span class="space-out-h-nano-xs">&#183;</span>
				{% for category in post.categories %}								
					<a href="{{ site.baseurl }}/blog/categories/{{ category | replace:' ', '-' | downcase }}/">{{ category }}</a>
				{% endfor %}
			{% endif %}
		</div>
	</nav>
</article>

{% if page.url == "/" %}
	{% if forloop.first == true %}
	{% endif %}
{% endif %}