<article class="space-in-top-kilo-xs space-in-top-mega-md{% if forloop.last == true %} space-in-bottom-kilo-xs space-in-bottom-mega-md{% endif %} space-minus-h-base-xl post">	
	<h1>
		<a class="link-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | improve }}</a>
	</h1>

	<nav class="actions">
		<time class="space-out-right-nano-xs">{{ post.date | russian_date }}</time>
		{% if post.tags.size > 0 %}
			{% assign tags = post.tags | sort %}
			{% for tag in tags %}
				<a class="space-out-right-nano-xs link-tag tag" href="{{ site.baseurl }}/blog/tags/{{ tag | replace:' ', '-' | downcase }}/">{{ tag | improve }}{% unless forloop.last %},{% endunless %}</a>
			{% endfor %}
		{% endif %}
	</nav>

	{{ post.content | improve | extlinks | split: '<!-- more -->' | first }}

	{% if post.content contains '<!-- more -->' %}
		<p><a href="{{ post.url | prepend: site.baseurl }}">Читать полностью &rarr;</a></p>
	{% endif %}
</article>

{% if page.url == "/" %}
	{% if forloop.first == true %}
	{% endif %}
{% endif %}