<nav class="row row-between-sm space-out-h-kilo-xl space-out-v-mega-xs space-out-v-giga-md pagination">
	<span class="col-xs-12 col-sm-4 space-in-v-nano-xs space-in-left-zero-xl previous">
		{% if page.previous.url %}
			<a class="link" title="{{ page.previous.title }}" href="{{ page.previous.url }}">&larr; Ранее</a>
		{% endif %}
	</span>	

	<span class="col-xs-12 col-sm-4 space-in-v-nano-xs page-number">Запись: {{ page.index | plus: 1 }} из {{ site.posts | size }}</span>

	<span class="col-xs-12 col-sm-4 space-in-v-nano-xs space-in-right-zero-xl next">
		{% if page.next.url %}
			<a class="link" title="{{ page.next.title }}" href="{{ page.next.url }}">Позднее &rarr;</a>
		{% endif %}
	</span>
</nav>