<div class="post-pagination">
	{% if page.previous.url %}
		<div class="prev">
			<a href="{{ page.previous.url }}">
				<i class="fa fa-angle-left" aria-hidden="true"></i> {{ page.previous.title }}
				{% if page.previous.subtitle %}<p>{{ page.previous.subtitle }}</p>{% endif %}
			</a>
		</div>
	{% endif %}
	{% if page.next.url %}
		<div class="next">
			<a href="{{ page.next.url }}">
				{{ page.next.title }} <i class="fa fa-angle-right" aria-hidden="true"></i>
				{% if page.next.subtitle %}<p>{{ page.next.subtitle }}</p>{% endif %}
			</a>
		</div>
	{% endif %}
</div>