<nav class="row row-between-sm space-in-bottom-kilo-xs pagination">
	<span class="col-xs-12 col-sm-4 space-in-v-nano-xs space-in-v-zero-md previous">
		{% if page.previous.url %}
			<a title="{{ page.previous.title }}" class="link" href="{{ page.previous.url }}">&larr; Ранее</a>
		{% endif %}
	</span>	
	<span class="col-xs-12 col-sm-4 space-in-v-nano-xs space-in-v-zero-md next">
		{% if page.next.url %}
			<a title="{{ page.next.title }}" class="link" href="{{ page.next.url }}">Позднее &rarr;</a>
		{% endif %}
	</span>
</nav>