		<div class="scroll-to-top">
			<a><i class="fa fa-angle-up" aria-hidden="true"></i></a>
		</div>
		
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<!--[ JS ]-->
		{% include_cached _base/script.html %}
		
		{% if page.layout == 'post' %}
			{% include_cached _post/script.html %}
		{% elsif page.layout == 'image' %}
			{% include_cached _post/script.html %}
		{% else %}
		{% endif %}
		
		<!--[ Other ]-->
		<script type="text/javascript" src="https://{{ site.disqus }}.disqus.com/count.js" id="dsq-count-scr" async></script>
	</body>
</html>