article {
    &.article {
        & > :last-child {
            margin-bottom: 0;
        }
        h1, h2, h2, h3, h4, h5, h6 {
            max-width: @width-body;
            margin-right: auto;
            margin-left: auto;
        }
        h1 {
            &:first-of-type {
                font-size: @title-font-size - 1;
                text-align: center;
                margin-top: 0;

                @media @lg {
                    font-size: @title-font-size;
                }
            }
        }
        h2 {
            margin-bottom: @margin-bottom;
            margin-top: 100px;
            font-size: 2em;
        }
        time {
            color: @color-accent;
            margin-bottom: @margin-bottom;
            margin-right: auto;
            margin-left: auto;
            margin-top: @margin-top;
            display: table;
        }
        figure {
            margin-bottom: @margin-top;
            margin-right: auto;
            margin-left: auto;
            margin-top: @margin-top;

            img {
                margin-right: auto;
                margin-left: auto;
                max-width: 100%;
                display: block;
                height: auto; 
                width: auto; 
            }

            figcaption {
                p {
                    font-family: @global-font-family;
                    font-size: @global-font-size;
                    line-height: @global-line-height;
                    margin-bottom: 0;
                    margin-top: @margin-top / 2;
                    color: darken(@color-accent, 20%);
                }
            }

            &.picture {
                max-width: @width-body + 10;

                img {
                    border-radius: @border-radius;
                    margin-right: auto;
                    margin-left: auto;
                    cursor: zoom-in;
                    height: auto; 
                    width: auto; 
                }

                &.position-left {
                    max-width: @width-body;

                    img {
                        margin-left: 0;
                    }
                }
            }
        }
        hr {
            max-width: @width-body;
            margin-bottom: @margin-bottom;
            margin-right: auto;
            margin-left: auto;
            margin-top: @margin-top;
            
            border-bottom: 1px solid @color-accent;
            border-right: 0;
            border-left: 0;
            border-top: 0;
        }
        p {
            font-family: @post-font-family;
            font-size: @post-font-size - 0.2;
            line-height: @post-line-height - 1;

            @media @lg {
                font-size: @post-font-size;
                line-height: @post-line-height;
            }

            max-width: @width-body;
            margin-bottom: @margin-bottom;
            margin-right: auto;
            margin-left: auto;
            margin-top: @margin-top;

            code {
                border-radius: @border-radius;
                background-color: rgba(0,0,0,.05);
                font-family: @post-font-family;
                border-radius: 0.125em;
                word-wrap: break-word;
                white-space: nowrap;
            }

            mark {
                border-radius: @border-radius;
                background-color: rgba(0,0,0,.05);
            }

            img {
                height: 100%;
                width: 100%;
            }
        }
        ul, ol {
            max-width: @width-body;
            margin-bottom: @margin-bottom;
            margin-right: auto;
            margin-left: auto;
            margin-top: @margin-top;

            li {
                font-family: @post-font-family;
                font-size: @post-font-size;
                line-height: @post-line-height;

                code {
                    border-radius: @border-radius;
                    background-color: rgba(0,0,0,.05);
                    font-family: @post-font-family;
                    border-radius: 0.125em;
                    word-wrap: break-word;
                    white-space: nowrap;
                }
            }

            ul {
                margin-top: @margin-top / 2;

                li {
                    font-family: @post-font-family;
                    font-size: 1em;
                    line-height: @post-line-height;
                }
            }
        }
        pre {
            border-radius: @border-radius;
            background-color: rgba(0,0,0,.05);
            max-width: @width-body + 10;
            margin-bottom: @margin-bottom;
            margin-right: auto;
            margin-left: auto;
            margin-top: @margin-top; 
            overflow-y: auto;
            
            code {
                max-width: @width-body;
                margin-bottom: @margin-top;
                margin-right: auto;
                margin-left: auto;
                margin-top: @margin-top;
                display: block;
                
                @media @mlg {
                    padding-left: @margin-top;
                    padding-right: @margin-top;
                }
            }
        }
        blockquote {
            max-width: @width-body + 10;
            margin-bottom: @margin-bottom;
            margin-right: auto;
            margin-left: auto;
            margin-top: @margin-top;

            p {
                font-style: italic;
                max-width: 100%;
            }
        }
        code, kbd, pre, samp {
            font-family: @code-font-family;
        }
        .block {
            p {
                margin-bottom: 0;
                margin-top: 0;

                &:first-of-type {
                    margin-top: @margin-top;
                }

                &:last-of-type {
                    margin-bottom: @margin-bottom;
                }
            }
        }
        .youtube {
            background-color: #000;
            margin-bottom: @margin-bottom;
            margin-right: auto;
            margin-left: auto;
            margin-top: @margin-top;

            position: relative;
            padding-bottom: 56.25%;
            height: 0;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .thumbnail {
                cursor: pointer;
                width: 100%;
            }

            .play {
                background-image: url(/assets/images/youtube.png);
                background-repeat: no-repeat;
                background-position: 0 -50px;
                background-size: 100% auto;
                position: absolute;
                cursor: pointer;
                z-index: 100;
                margin: auto;
                height: 50px;
                width: 69px;
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;
            }

            &:hover { 
                .play {
                    background-position: 0 0;
                }
            }
        }
        .fotorama {
            max-width: @width-body + 10;
            margin-bottom: @margin-bottom;
            margin-right: auto;
            margin-left: auto;
            margin-top: @margin-top;      
        }
        .wrapper {
            margin-bottom: @margin-bottom;
            margin-top: @margin-top;

            &-frame {
                margin-bottom: @margin-bottom;
                margin-top: @margin-top;
            }
        }
    }
    &.portfolio {
        p {
            max-width: @width-body;
            margin-bottom: 0.5rem;
            margin-right: auto;
            margin-left: auto;
            margin-top: 0;
        }
        h2 {
            max-width: @width-body;
            margin-bottom: @margin-bottom / 2;
            margin-right: auto;
            margin-left: auto;
            margin-top: @margin-top * 2;            
        }
        figure {
            margin-bottom: @margin-top;
            margin-right: auto;
            margin-left: auto;
            margin-top: @margin-top;

            img {
                margin-right: auto;
                margin-left: auto;
                max-width: 100%;
                display: block;
                height: auto; 
                width: auto; 
            }

            figcaption {
                p {
                    font-family: @global-font-family;
                    font-size: @global-font-size;
                    line-height: @global-line-height;
                    margin-bottom: 0;
                    margin-top: @margin-top / 2;
                    color: darken(@color-accent, 20%);
                }
            }

            &.picture {
                max-width: @width-body + 10;

                img {
                    border-radius: @border-radius;
                    margin-right: auto;
                    margin-left: auto;
                    cursor: zoom-in;
                    height: auto; 
                    width: auto; 
                }

                &.position-left {
                    max-width: @width-body;

                    img {
                        margin-left: 0;
                    }
                }
            }
        }
        .fotorama {
            max-width: @width-body + 10;
            margin-bottom: @margin-bottom;
            margin-right: auto;
            margin-left: auto;
            margin-top: @margin-top;      
        }
    }
    &.preview {
        position: relative;

        time {
            font-size: @global-font-size - 0.15;
            margin-top: 10px;
            display: block;
        }
        p {
            margin-bottom: 8px;
            margin-top: 4px;
        }

        @media @md {
            &::before {
                background-color: #ffffff;
                position: absolute;
                border-radius: 50%;
                border: 2px solid @color-accent;
                z-index: 10;
                content: '';
                height: 2px;
                width: 2px;
                top: 15px;
            }
            &::after {
                border-right: 2px solid @color-accent;
                position: absolute;
                height: 100%;
                content: '';
                top: 0;
            }
            &.even {
                text-align: left;

                &::after {
                    left: -1px;
                }
                &::before {
                    left: -3px;
                }
            }
            &.odd {
                text-align: right;

                &::after {
                    right: -1px;
                }
                &::before {
                    right: -3px;
                }
            }
        }
        .tags {
            margin-bottom: 8px;
            margin-right: -1px;
            margin-left: -1px;

            a {
                background-color: @color-accent;
                padding: 5px 8px 4px;
                margin-bottom: 2px;
                margin-right: 1px;
                margin-left: 1px;
                border-bottom: 0;
                border-radius: 20px;
                font-size: @global-font-size - 0.35;
                color: darken(@color-accent, 60%);

                &:hover {
                    background-color: darken(@color-accent, 5%);
                }
            }
        }
    }
}