<!-- Yandex.RTB R-A-321345-1 -->

<div id="money">
	<div id="yandex_rtb_R-A-321345-1"></div>
	<script type="text/javascript">
		(function(w, d, n, s, t) {
			w[n] = w[n] || [];
			w[n].push(function() {
				Ya.Context.AdvManager.render({
					blockId: "R-A-321345-1",
					renderTo: "yandex_rtb_R-A-321345-1",
					async: false
				});
			});
			t = d.getElementsByTagName("script")[0];
			s = d.createElement("script");
			s.type = "text/javascript";
			s.src = "//an.yandex.ru/system/context.js";
			s.async = false;
			t.parentNode.insertBefore(s, t);
		})(this, this.document, "yandexContextAsyncCallbacks");
	</script>

	<div id="message" class="message preload">
		<div class="text">
			Этот блог существует благодаря ненавязчивой рекламе.<br>
			Пожалуйста, добавьте его в исключения своего блокировщика рекламы.
		</div>
	</div>
</div>