<footer>
	<div class="common full">
		<div class="wrapper">
			<div class="copyright">
				<a href="{{ site.baseurl }}/about">{{ site.author }}</a> &copy; 2015 - {{ site.time | date: '%Y' }} <a target="_blank" href="{{ site.baseurl }}/feed">RSS</a><br />
				Блог о <a href="{{ site.baseurl }}/category/Игры/">компьютерных играх</a>, <a href="{{ site.baseurl }}/category/Фильмы/">фильмах</a>, <a href="{{ site.baseurl }}/category/Книги/">книгах</a>, <a href="{{ site.baseurl }}/category/Веб/">вебе</a> и <a href="{{ site.baseurl }}/category/Заметки/">всем прочем</a>.
			</div>
		</div>
		<div class="aside">
			<div class="scroll-to-top">
				<a><i class="fa fa-angle-up" aria-hidden="true"></i></a>
			</div>
			<div class="counter">
			</div>
		</div>
	</div>
</footer>