<header class="space-in-top-mili-xs">
	<div class="row row-reverse-xs row-middle-sm">
		<div class="col-xs-12 col-sm space-in-bottom-mili-xs space-in-bottom-zero-md">
			<div class="search space-auto-left-md">
				<div class="search-form">
					<input type="text" id="search-input" class="search-box" />
					<span class="search-button">
						<i class="fa fa-search open" aria-hidden="true"></i>
						<i class="fa fa-times close" aria-hidden="true"></i>
					</span>
				</div>
				<div class="dropdown">
					<ul class="results" id="results-container"></ul>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-shrink">
			<div class="row row-middle-sm">
				<div class="col-xs-12 col-sm space-in-top-micro-xs space-in-top-zero-md logo-txt">
					<div class="clip-text"><a href="{{ site.baseurl }}/">{% if page.path contains '_posts' %}Запись {{ page.index | plus: 1 }}{% elsif page.path contains '_photos' %}Фотографии{% else %}{% if page.title %}{{ page.title }}{% elsif layout.title %}{{ layout.title }}{% else %}{{ site.name }}{% endif %}{% endif %}</a></div>
				</div>
			</div>
		</div>
	</div>
</header>