<header class="row row-middle-md space-in-top-mili-xs">
	<div class="col-xs-12 col-sm-shrink space-in-bottom-nano-xs space-in-bottom-zero-md">
		<span class="logo">
			<a href="{{ site.baseurl }}/" class="link-home"><span class="logo-icon"></span></a>
		</span>
	</div>
	<div class="col-xs-12 col-sm">
		<div class="row">
			<div class="col-xs-12 col-sm-shrink space-in-top-nano-xs space-in-top-zero-md space-auto-left-sm search">
				<div class="search-form">
					<input type="text" id="search-input" class="search-box" />
					<span class="search-button">
						<i class="fa fa-search open" aria-hidden="true"></i>
						<i class="fa fa-times close" aria-hidden="true"></i>
					</span>
				</div>
				<div class="dropdown">
					<ul class="results" id="results-container"></ul>
				</div>
			</div>
		</div>
	</div>
</header>