<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

		<!--[ Meta ]-->
		{% include meta.html %}
		
		<!--[ CSS ]-->
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/zoom.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/fotorama.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/settings.css" />
		<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

		<!--[ JS ]-->
		<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.js"></script>
        <script type="text/javascript">base_url = "{{ site.url }}";</script>

        <!--[ Schema ]-->
		{% include schema.html %}

	</head>

	<body class="themplate-{{ page.layout }} space-out-h-zero-xs space-out-v-zero-xs space-in-h-mili-xs space-in-h-zero-lg m-scrollable-filter">