<div class="likely common">
	<div data-url="{{ site.url }}{{ page.url | beautify_url }}" data-title="{{ page.title }}" class="vkontakte">Поделиться</div>
	<div data-url="{{ site.url }}{{ page.url | beautify_url }}" data-title="{{ page.title }}" data-via="sasha_travkina" class="twitter">Твитнуть</div>
	<div data-url="{{ site.url }}{{ page.url | beautify_url }}" data-title="{{ page.title }}" class="telegram">Отправить</div>
	<div data-url="{{ site.url }}{{ page.url | beautify_url }}" data-title="{{ page.title }}" class="facebook">Поделиться</div>
	<div data-url="{{ site.url }}{{ page.url | beautify_url }}" data-title="{{ page.title }}" class="gplus">Плюсануть</div>
</div>