<article class="preview {% cycle 'odd row row-start-xs', 'even row row-end-xs' %}">
    <section class="space-in-top-micro-xs space-in-top-zero-md col-xs-12 col-sm-6 content">
        <time>{{ post.date | russian_date }}</time>
        <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
        {% if post.tags.size > 0 %}
        <div class="tags">
            {% assign tags = post.tags | sort %}
            {% for tag in tags %}
                <a class="tag" href="{{ site.baseurl }}/blog/tags/{{ tag | replace:' ', '-' | downcase }}/">{{ tag | improve }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </section>
</article>