<article class="col-xs-12 col-sm-6 preview {% cycle 'odd', 'even' %}">
    <time>{{ post.date | russian_date }}</time>
    <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
    {% if post.tags.size > 0 %}
    <div class="tags">
        {% assign tags = post.tags | sort %}
        {% for tag in tags %}
            <a class="tags" href="{{ site.baseurl }}/blog/tags/{{ tag | replace:' ', '-' | downcase }}/">{{ tag | improve }}</a>
        {% endfor %}
    </div>
    {% endif %}
</article>