<section class="space-in-top-mili-xs space-in-top-nano-md row row-middle-md">
	<nav class="col-xs-12 col-md-shrink menu" id="menu">
		<ol class="menu-content">
			<li class="space-in-right-micro-md space-in-bottom-nano-xs space-in-bottom-zero-md"><a target="_blank" href="{{ site.baseurl }}/feed">RSS</a></li>
			{% for item in site.navigation %}
			{% assign class = nil %}
			{% if page.url contains item.url %}{% assign class = ' active' %}{% endif %}
				<li class="space-in-right-micro-md space-in-bottom-nano-xs space-in-bottom-zero-md{{ class }}"><a class="link-subcontrol" href="{{ item.url }}">{{ item.title }}</a></li>
			{% endfor %}
		</ol>
	</nav>

	<div class="col-xs-12 col-md-shrink space-in-top-mili-xs space-in-top-zero-lg space-auto-left-lg hidden-upto-md">
		<div class="scroll-to-top">
			<a><i class="fa fa-angle-up" aria-hidden="true"></i></a>
		</div>
	</div>
</section>