<section class="space-out-top-mili-xs space-in-top-mili-xs space-in-h-micro-xs space-in-h-base-sm space-minus-h-micro-xs space-minus-h-base-sm navigation">
	<nav class="space-minus-top-nano-xs menu" id="menu">
		<ol class="menu-content">
			{% for item in site.navigation %}
			{% assign class = nil %}
			{% if page.url contains item.url %}{% assign class = ' active' %}{% endif %}
				<li class="space-in-right-micro-md space-in-top-nano-xs{{ class }}"><a class="link-subcontrol" href="{{ item.url }}">{{ item.title }}</a></li>
			{% endfor %}
			<li class="space-in-top-micro-xs space-in-top-nano-md rss-link"><a target="_blank" href="{{ site.baseurl }}/feed">RSS</a></li>
		</ol>
	</nav>
	<div class="space-in-top-mili-xs search">
		<div class="search-form">
			<input type="text" id="search-input" autocomplete="off" autocapitalize="off" class="search-box">
			<span class="search-button">
				<i class="fa fa-search open" aria-hidden="true"></i>
				<i class="fa fa-times close" aria-hidden="true"></i>
			</span>
		</div>
		<div class="dropdown">
			<ul class="results" id="results-container"></ul>
		</div>
	</div>
</section>