{% if paginator.total_pages > 1 %}
	<nav class="row row-between-sm space-in-bottom-kilo-xs space-in-bottom-mega-md pagination">
		<span class="col-xs-12 col-sm-4 space-in-v-nano-xs space-in-v-zero-md previous">
			{% if paginator.next_page %}
				<a class="link" rel="prev" href="{{ paginator.next_page_path | beautify_url }}">&larr; Ранее</a>
			{% endif %}
		</span>
		
		<span class="col-xs-12 col-sm-4 space-in-v-nano-xs space-in-v-zero-md page-number">Страница: {{ paginator.page }} из {{ paginator.total_pages }}</span>
		
		<span class="col-xs-12 col-sm-4 space-in-v-nano-xs space-in-v-zero-md next">
			{% if paginator.previous_page %}
				<a class="link" rel="next" href="{{ paginator.previous_page_path | beautify_url }}">Позднее &rarr;</a>
			{% endif %}
		</span>
	</nav>
{% endif %}