<section class="background">
	<div class="bg {% if page.id == 'index' %}stars{% endif %}">
		{% if page.id == 'index' %}
			<div id='stars'></div>
			<div id='stars2'></div>
			<div id='stars3'></div>
		{% endif %}
	</div>
	<div class="space-in-h-micro-xs space-in-h-base-sm space-out-h-zero-xs content">
		<div class="space-in-v-mili-xs space-in-v-base-xl space-in-h-zero-xs space-auto-h-xs {% if page.id != 'index' %}hidden-from-xl{% endif %} linel">
			<header class="logo">
				<a class="link-logo" href="{{ site.baseurl }}/">
					<img srcset="/static/images/avatar_96x96.png 2x, /static/images/avatar_192x192.png 4x" src="/static/images/avatar_48x48.png" width="48" height="48" alt="{{ site.name }}">					
				</a>
			</header>
		</div>
		{% if page.id != 'index' %}
		<div class="space-auto-top-xs space-out-top-zero-xl space-in-top-base-xl space-in-bottom-mili-xs space-in-bottom-zero-xl space-auto-h-xs linel title">
			<h1 class="space-out-v-zero-xs">{{ page.title }}</h1>
			{% if page.toc == "true" %}
				<div class="space-in-top-mili-xs toc js-toc"></div>
			{% endif %}
		</div>
		{% endif %}
		<div class="space-auto-top-xs space-in-bottom-base-xl space-in-h-zero-xs space-auto-h-xs hidden-upto-xl linel">
			<nav class="row row-between-sm pagination aside">			
				{% if page.path contains '_posts' %}
				<span class="col-xl breadcrumbs page-number">{% include breadcrumbs.html %}</span>
				<span class="col-xl-shrink previous next">
					{% if page.previous.url %}
						<a title="{{ page.previous.title }}" class="link" href="{{ page.previous.url }}" rel="prev">&lsaquo; Ранее</a>
					{% endif %}
					{% if page.next.url %}
						<a title="{{ page.next.title }}" class="space-out-left-nano-xs link" href="{{ page.next.url }}" rel="next">Позднее &rsaquo;</a>
					{% endif %}
				</span>
				{% elsif page.path contains '_photos' %}
				<span class="col-xl breadcrumbs page-number">{% include breadcrumbs.html %}</span>
				<span class="col-xl-shrink previous next">
					{% for c in site.photos %}{% if c.title == page.title %}{% assign thisPost = c %}{% if forloop.index == 1 %}{% assign prevflag = 0 %}{% assign nextflag = 1 %}{% elsif forloop.index == forloop.length %}{% assign prevflag = 1 %}{% assign nextflag = 0 %}{% else %}{% assign prevflag = 1 %}{% assign nextflag = 1 %}{% endif %}{% endif %}{% endfor %}
					{% for c in site.photos %}{% if c.title == page.title %}{% assign prevflag = 0 %}{% endif %}{% if prevflag == 1 %}{% assign prevPost = c %}{% assign page.previous = c %}{% endif %}{% endfor %}
					{% if nextflag == 1 %}{% for c in site.photos %}{% if foundPost == 1 %}{% assign getNext = 1 %}{% endif %}{% if c.title == page.title %}{% assign foundPost = 1 %}{% endif %}{% if getNext == 1%}{% assign nextPost = c %}{% assign page.next = c %}{% assign foundPost = 0 %}{% assign getNext = 0 %}{% endif %}{% endfor %}{% endif %}
					{% if prevPost.url %}
						<a class="link" href="{{ prevPost.url }}" rel="prev">&lsaquo; Ранее</a>
					{% endif %}
					{% if nextPost.url %}
						<a class="space-out-left-nano-xs link" href="{{ nextPost.url }}" rel="next">Позднее &rsaquo;</a>
					{% endif %}
				</span>
				{% elsif page.id == 'index' %}
				<span class="col-xl breadcrumbs page-number">Страница: {{ paginator.page }} из {{ paginator.total_pages }}</span>
					{% if paginator.total_pages > 1 %}
					<span class="col-xl-shrink previous next">
						{% if paginator.next_page %}
							<a class="link" href="{{ paginator.next_page_path | beautify_url }}" rel="prev">&lsaquo; Ранее</a>
						{% endif %}
						{% if paginator.previous_page %}
							<a class="space-out-left-nano-xs link" href="{{ paginator.previous_page_path | beautify_url }}" rel="next">Позднее &rsaquo;</a>
						{% endif %}
					</span>
					{% endif %}	
				{% else %}
				<span class="col-xl breadcrumbs page-number">{% include breadcrumbs.html %}</span>
					{% if paginator.total_pages > 1 %}
					<span class="col-xl-shrink previous next">
						{% if paginator.next_page %}
							<a class="link" href="{{ paginator.next_page_path | beautify_url }}" rel="prev">&lsaquo; Ранее</a>
						{% endif %}
						{% if paginator.previous_page %}
							<a class="space-out-left-nano-xs link" href="{{ paginator.previous_page_path | beautify_url }}" rel="next">Позднее &rsaquo;</a>
						{% endif %}
					</span>
					{% endif %}
				{% endif %}
			</nav>
		
		</div>
	</div>
</section>

{% if page.cover %}
<style type="text/css">
	.sidebar .background .bg {
		background-image: url('{{ page.cover }}');
	}
</style>
{% endif %}