<footer>
	<div class="common full">
		<div class="wrapper">
			<div class="copyright">
				<a href="{{ site.baseurl }}/about">{{ site.author }}</a> &copy; 2015 - {{ site.time | date: '%Y' }} <a target="_blank" href="{{ site.baseurl }}/feed">RSS</a><br />
				Блог о <a href="{{ site.baseurl }}/category/Игры/">компьютерных играх</a>, <a href="{{ site.baseurl }}/category/Фильмы/">фильмах</a>, <a href="{{ site.baseurl }}/category/Книги/">книгах</a>, <a href="{{ site.baseurl }}/category/Веб/">вебе</a> и <a href="{{ site.baseurl }}/category/Заметки/">всем прочем</a>.
			</div>
		</div>
		<div class="aside">
			{% if page.url == "/index.html" %}
				<div class="counter">
					<!-- Yandex.Metrika informer -->
					<a href="https://metrika.yandex.ru/stat/?id=40455205&amp;from=informer"
					target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/40455205/1_1_FFFFFFFF_FFFFFFFF_0_uniques"
					style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (уникальные посетители)" class="ym-advanced-informer" data-cid="40455205" data-lang="ru" /></a>
					<!-- /Yandex.Metrika informer -->
				</div>
			{% endif %}
		</div>
	</div>
</footer>