<article class="preview {% cycle 'odd row row-start-xs', 'even row row-end-xs' %}">
    <section class="col-xs-12 col-sm-6 content">
        <time>{{ workshop.date | russian_date }}</time>
        <p><a href="{{ workshop.url | prepend: site.baseurl }}">{{ workshop.title }}</a></p>
        {% if workshop.tags.size > 0 %}
        <div class="tags">
            {% assign tags = workshop.tags | sort %}
            {% for tag in tags %}
                <a class="tags" href="{{ site.baseurl }}/workshop/tags/{{ tag | replace:' ', '-' | downcase }}/">{{ tag | improve }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </section>
</article>