<article class="preview {% cycle 'odd row row-start-xs', 'even row row-end-xs' %}">
    <section class="col-xs-12 col-sm-6 content">
        <time>{{ workshop.date | russian_date }}</time>
        {% if workshop.clickable == false %}
            <p>{{ workshop.title }}</p>
        {% else %}
            <p><a href="{{ workshop.url | prepend: site.baseurl }}">{{ workshop.title }}</a></p>
        {% endif %}
        {% if workshop.tags.size > 0 %}
        <div class="tags">
            {% assign tags = workshop.tags | sort %}
            {% for tag in tags %}
                <span class="tags">{{ tag | improve }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </section>
</article>