---
layout: default
class: blog
title: Теги
description: Список тегов блога
---

<section class="slide-up-fade-in">
{% assign tags = site.tags | sort %}
{% for tag in tags %}
	<article class="space-in-bottom-nano-xs {% if forloop.first == true %}space-out-top-mili-xs {% endif %}{% if forloop.last == true %}space-out-bottom-mili-xs {% endif %}item">
		<a href="{{ site.baseurl }}/blog/tags/{{ tag | first | slugify }}/">{{ tag[0] | replace:'-', ' ' }}</a> &middot; {{ tag | last | size }}
	</article>
{% endfor %}
</section>