@content-linel: 45rem;
@content-width: 1440px;

.global-settings() {
    @glob-text: @black;
    @glob-subtext: @darkerGray;
    @glob-font: @latoMedium;
    @glob-font-size: 1rem;
    @glob-linel: @content-linel;
    @glob-width: @content-width;

    @fadeInSpeed: 0.1s;
}

.post-settings() {
    @post-top: 1.5rem;
    @post-bottom: 1.5rem;

    @post-linel: @content-linel;
    @post-text: rgba(0,0,0,.84);
    @post-subtext: rgba(0,0,0,.76);
}

.post-grid() {
    @post-width: @content-width;
    @grid-edge: 2.5rem;
    @grid-aside: 1fr;
    @grid-inner: minmax(1rem, 2.5rem);
    @grid-main: minmax(auto, @content-linel);
}

/*!
* Bettertext
*/

.bettertext-settings() {
    @fz: 12px;                                      // default font-size
    @rythm: 18px;                                   // vertical rythm = line-height in pixels
    @fz-small: 10px;                                // smaller font-size (px)
    @linel: @content-linel;                         // max-width for text (any css value)

    @font-body: @gregor;                            // body
    @font-headers: @latoHeavy;                      // headers
    @font-code: @code;                              // code (duplication is intentional)

    @scale1: 1.125;                    // header size multiplier for small screens
    @scale2: 1.200;                    // header size multiplier for large screens

    // margin for body, articles and sections (any css value)
    @structure-margin: ~"calc(24px + 3vw)" 5vw;

    @bettertext-breakpoint: ~"(min-width: 50em)"; // large screens starts from that value

    //redefining header margin-top
    @h1-mt: 3em;
    @h2-mt: 2.5em;
    @h3-mt: 2em;
    @h4-mt: 1.5em;
}

/*!
* Grid
*/

.grid-settings() {

    // settings
    @grid-columns: 12;   // number of columns
    @gutter-width: 32px; // gap between columns

    // media breakpoints (default: as on bootstrap)
    @breakpoints:
        ~"(min-width: 768px)",
        ~"(min-width: 992px)",
        ~"(min-width: 1200px)";

    // max-width of containers according breakpoints
    @container-maw:
        750px,
        970px,
        1170px;

    // names for breakpoint suffixes
    @suffixes: xs, sm, md, lg;

    // IMPORTANT: suffixes count should be bigger than breakpoints count by 1
    // suffixes-count = breakpoints-count + 1

}