.global-settings() {
    @glob-font: @global;
    @glob-font-size: 1rem;
    @glob-font-color: @black;

    @glob-subtext-size: 0.875rem;
    @glob-subtext-color: @darkGray;

    @glob-header: @latoBlack;

    @glob-linel: 39.38rem;
    @glob-width: 93.75rem;

    @fadeInSpeed: 0.1s;
}

.post-settings() {
    @post-top: 1rem;
    @post-bottom: 0;
    @post-linel: @glob-linel;

    @post-text-color: @black;

    @post-subtext-color: @glob-subtext-color;
    @post-subtext-size: @glob-subtext-size;
    @post-subtext-linel: 1.352;
    @post-subtext-weight: 400;
}

.post-grid() {
    @post-width: @glob-width;

    @grid-edge: 0;
    @grid-aside: minmax(12.5rem, 18.75rem);
    @grid-inner: minmax(0, 1fr);
    @grid-text: 2rem;
    @grid-main: @glob-linel;
}

/*!
* Bettertext
*/

.bettertext-settings() {

    .global-settings();

    @fz: 16px;                                      // default font-size
    @rythm: 23.392px;                               // vertical rythm = line-height in pixels
    @fz-small: 13px;                                // smaller font-size (px)
    @linel: @glob-linel;                            // max-width for text (any css value)

    @font-body: @global;                            // body
    @font-headers: @glob-header;                    // headers
    @font-code: @code;                              // code (duplication is intentional)

    @scale1: 1.085;                    // header size multiplier for small screens
    @scale2: 1.125;                    // header size multiplier for large screens

    // margin for body, articles and sections (any css value)
    @structure-margin: ~"calc(24px + 3vw)" 5vw;

    @bettertext-breakpoint: ~"(min-width: @{glob-linel})"; // large screens starts from that value

    //redefining header margin-top
    @h1-mt: 3em;
    @h2-mt: 2.5em;
    @h3-mt: 2em;
    @h4-mt: 1.5em;
}

/*!
* Grid
*/

.grid-settings() {

    // settings
    @grid-columns: 12;   // number of columns
    @gutter-width: 32px; // gap between columns

    // media breakpoints (default: as on bootstrap)
    @breakpoints:
        ~"(min-width: 768px)",
        ~"(min-width: 992px)",
        ~"(min-width: 1200px)";

    // max-width of containers according breakpoints
    @container-maw:
        750px,
        970px,
        1170px;

    // names for breakpoint suffixes
    @suffixes: xs, sm, md, lg;

    // IMPORTANT: suffixes count should be bigger than breakpoints count by 1
    // suffixes-count = breakpoints-count + 1

}