//
// main
//

.global-settings();

html {
    height: 100%;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    background-color: @white;
    letter-spacing: -.003em;
    overflow-x: hidden;
    cursor: default;
    margin: 0;
}

@media @msm {
    body {
        font-size: 1.2em;
        line-height: 1.4;
    }
}

input, textarea, select, button {
    font-family: @glob-font;
}

h1, h2, h3, h4, h5 {
    letter-spacing: -1px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	
	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

//
// header
//

header {
    @import (less) "../static/css/_header.less";
}

//
// .post
//

.post {

    .post-settings();

    /* Grid */

    @media @xl {
        grid-template-columns: ~'[left]' 0 ~'[edge-left]' @grid-edge ~'[outer-left]' 0 ~'[aside-left]' @grid-aside ~'[main-left]' 0 ~'[inner-left]' @grid-inner ~'[text-left]' 0 ~'[main]' @grid-main ~'[text-right]' 0 ~'[inner-right]' @grid-inner ~'[main-right]' 0 ~'[aside-right]' @grid-aside ~'[outer-right]' 0 ~'[edge-right]' @grid-edge ~'[right]' 0;
        max-width: @post-width;
        grid-auto-rows: auto;
        display: grid;
        width: 100%;

        &>* {
            grid-column: text-left / text-right;
        }

        .post-grid();
    }

    /* title */

    .link-title {
        .links-color(@black, @darkerGray, @black, @darkerGray, @black, 100%);
        text-decoration: none;
    }

    /* Body */

    p {
        margin-bottom: @post-bottom;
        margin-top: @post-top;
        color: @post-text;
    }

    hr {
        font-size: @glob-font-size + 0.4rem;
        font-family: @helvetica;
        margin-bottom: @post-bottom;
        margin-top: @post-top;
        text-align: center;
        line-height: 1;
        display: block;
        border: none;
        opacity: 1;
        
        &::before {
            position: relative;
            content: "⌘ ⌘ ⌘";
        }

        &.easy {
            background-color: #f1f1f1;
            height: 1px;
            width: 100%;

            &::before {
                content: none;
            }
        }
    }

    figure {
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
    }

    ul:not([class]), ol:not([class]) {
        margin-bottom: @post-bottom;
        margin-right: 0;
        margin-left: 0;
        margin-top: @post-top;
    }

    /* blockquote */

    blockquote {
        font-size: @glob-font-size + 0.4rem;
        font-family: @gregorIT;
        margin-bottom: @post-bottom;
        margin-right: 0;
        margin-left: 0;
        margin-top: @post-top;
        font-style: italic;
        position: relative;
        line-height: 1.4;
        max-width: 100%;
        padding: 0;

        p {
            max-width: initial;
            margin: 0;
        }
    
        @media @xl {
            font-size: @glob-font-size + 0.6rem;
        }
    }

    /* picture */

    .picture {
        position: relative;

        &.lazyload,
        &.lazyloading {
            &:before {
                animation-name: rotate;
                animation-duration: 0.6s;
                animation-iteration-count: infinite;
                background-color: @action;
                position: absolute;
                margin-left: -10px;
                margin-top: -10px;
                display: block;
                content: '';
                z-index: -1;
                height: 20px;
                width: 20px;
                left: 50%;
                top: 50%;
            }
        }
        
        img {
            text-indent: -9999px;
            border-radius: 2px;

            &.lazyload,
            &.lazyloading {
                opacity: 0;
            }
        
            &.lazyloaded {
                -webkit-animation: fadein @fadeInSpeed;
                -moz-animation: fadein @fadeInSpeed;
                -ms-animation: fadein @fadeInSpeed;
                -o-animation: fadein @fadeInSpeed;
                animation: fadein @fadeInSpeed;
            }          
        }
    }

    & > .picture {
        max-width: initial;

        @media @xl {
            grid-column: main-left / main-right;
        }

        &.wrap {
            @media @xl {
                grid-column: text-left / text-right;
            }
        }

        &.aside {
            img {
                margin-bottom: @post-bottom;
                margin-top: 0;
            }
        }

        &.left {
            img {
                margin-left: 0;
            }
        }

        img {
            margin-bottom: 0;
            margin-right: auto;
            margin-left: auto;
            margin-top: 0;
            display: block;
        }
    }

    /* youtube frame */

    .youtube {
        border-radius: 2px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        display: block;
        width: 100%;

        img {
            max-width: 100%;
            display: block;
            width: 100%;

            &.lazyload,
            &.lazyloading {
                opacity: 0;
            }
        
            &.lazyloaded {
                -webkit-animation: fadein @fadeInSpeed;
                -moz-animation: fadein @fadeInSpeed;
                -ms-animation: fadein @fadeInSpeed;
                -o-animation: fadein @fadeInSpeed;
                animation: fadein @fadeInSpeed;
            }
        }

        .play {
            background: url('../images/youtube-play-btn.png') no-repeat;
            -webkit-background-size: 100% auto;
            background-size: 100% auto;
            background-position: 0 -50px;
            position: absolute;
            transition: none;
            margin: auto;
            height: 50px;
            width: 69px;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
        }
        
        &:hover { 
            .play {
                background-position: 0 0;
            }
        }

        &.thumbnail {
            .maxresdefault {
                display: none;
            }
        }
    }

    /* video */

    .video {
        .frame {
            padding-bottom: 56.25%;
            border-radius: 2px;
            position: relative;
            overflow: hidden;
            height: 0;
            
            iframe {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
            }
        }
    }

    /* cover */

	.cover {
        margin-bottom: @post-bottom;
        margin-top: @post-top;
        position: relative;

        &.lazyload,
        &.lazyloading {
            &:before {
                animation-name: rotate;
                animation-duration: 0.6s;
                animation-iteration-count: infinite;
                background-color: #a9b1b5;
                position: absolute;
                margin-left: -10px;
                margin-top: -10px;
                display: block;
                content: '';
                z-index: 5;
                height: 20px;
                width: 20px;
                left: 50%;
                top: 50%;
            }
        }

        img {
            position: relative;
            object-fit: cover;
            min-height: 100vh;
            height: 100vh;
            width: 100%;
            z-index: 10;

            @media @md {
                min-height: 60vh;
                height: 60vh;
            }

            &.lazyload,
            &.lazyloading {
                opacity: 0;
            }
        
            &.lazyloaded {
                -webkit-animation: fadein @fadeInSpeed;
                -moz-animation: fadein @fadeInSpeed;
                -ms-animation: fadein @fadeInSpeed;
                -o-animation: fadein @fadeInSpeed;
                animation: fadein @fadeInSpeed;
            }
        }

        @media @xl {
            .frame {
                background-color: @action;
                padding-right: 9999px;
                margin-right: -9999px;
                padding-left: 9999px;
                margin-left: -9999px;
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 0;
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;
            }
        }

        @media @xl {
            grid-column: left / right;
        }
    }

    /* google maps */
    
    .google-maps {
        background-color: #e5e3df;
        margin-bottom: @post-bottom;
        margin-top: @post-top;
        position: relative;

        @media @xl {
            &:before {
                content: '';
                position: absolute;
                background-color: #e5e3df;
                padding-right: 9999px;
                margin-right: -9999px;
                padding-left: 9999px;
                margin-left: -9999px;
                height: 100%;
                width: 100%;
                z-index: 0;
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;
            }
        }

        @media @xl {
            grid-column: left / right;
        }

        .map {
            height: 100vh !important;

            @media @md {
                height: 60vh;
            }
        }
    }

    /* Read more */

    .link-readmore {
        .links-color(@black, @darkerGray, @black, @darkerGray, @black, 100%);
        font-family: @helvetica;
        margin-bottom: @post-bottom;
        margin-top: @post-top;
        text-decoration: none;
        display: table;
    }

    .tags, .actions {
        font-size: @glob-font-size;
        font-family: @glob-font;
        color: @post-subtext;
    }

    .tags {
        @media @xl {
            grid-column: outer-left / inner-left;
        }
        margin-bottom: @post-bottom;
        margin-top: @post-top;
    }

    /* Actions */

	.actions {
        margin-top: @post-top;

        .link-action {
            .links-color(@post-subtext, @black, @post-subtext, @black, @post-subtext, 75%);
        }
    }

    /* Comments */

    .comments {
        .thread {
            position: relative;
            min-height: 320px;
            display: none;

            &.show {
                display: block;
            }

            iframe {
                position: relative;
                z-index: 10;
            }
        }
    }

    /* Related */

    .related {
        font-size: @glob-font-size;
        font-family: @glob-font;

        ul {
            list-style: none;
            padding: 0;
        }
    }

    //
    // extended
    //

    /* Tocbot */

    @import (less) "../static/modules/tocbot/_tocbot.less";

    /* Highlights */

    @import (less) "../static/css/_highlights.less";

    /* Modal */

    @import (less) "../static/css/_modal.less";

    /* Post style */

    @import (less) "../static/css/_post.less";

}

//
// .blog
//

.blog {
    @import (less) "../static/css/_blog.less";    
}

//
// .photos
//

.photos {
    @import (less) "../static/css/_photos.less";    
}

//
// .works
//

.works {
    @import (less) "../static/css/_works.less";   
}

//
// .page
//

.page {
    @import (less) "../static/css/_page.less";
}

//
// .pagination
//

.pagination {
    font-size: @glob-font-size;
    font-family: @glob-font;
    line-height: 1.25;

    .previous, .next {
        min-width: 85px;
    }

    @media @md {
        .previous {
            text-align: left;
        }

        .page-number {
            text-align: center;
        }

        .next {
            text-align: right;
        }
    }
}

//
// .breadcrumbs
//

.breadcrumbs {
    font-size: @glob-font-size;
    font-family: @glob-font;
    height: 100%;

	.breadcrumb {
        list-style: none;
        padding: 0;
        margin: 0;
		
		&:after {
		  display: table;
          clear: both;
		  content: '';
		}
		
		&-item {
            line-height: normal;
			float: left;
        }
	}

    .breadcrumb-item {
        &:after {
            display: inline-block;
            padding-right: @nano;
            padding-left: @nano;
            color: #a9b1b5;
            content: '\00B7';
        }

        &:last-of-type:after {
            content: none;
        }
    }
}

//
// .divider
//

.divider {
    .line {
        background-color: rgba(0, 0, 0, 0.05);
        margin: 0 auto;
        border: none;
        height: 1px;
        width: 100%;
    }
}

//
// button
//

button {
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    font-size: @glob-font-size;
    font-family: @glob-font;
    vertical-align: middle;
    position: relative;
    background: none;
    padding: 1em 2em;
    cursor: pointer;
    display: block;
    color: inherit;
    outline: none;
    border: none;
    z-index: 1;
	
	&.slider {
        border: 2px solid #4183c4;
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
        transition: color 0.3s;
		border-radius: 50px;
        overflow: hidden;

		&::before, &::after {
			content: '';
			-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
			-moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
			-webkit-transition: -webkit-transform 0.3s;
			-moz-transition: transform 0.3s;
            transition: transform 0.3s;
            position: absolute;
			height: 100%;
            bottom: 100%;
            width: 100%;
            z-index: -1;
			left: 0;
		}
		
		&::before {
			background: rgba(65, 131, 196, 0.05);
		}
		
		&::after {
			background: rgba(65, 131, 196, 0.15);
		}
		
		&:hover::before,
		&:hover::after {
			-webkit-transform: translate3d(0, 100%, 0);
			transform: translate3d(0, 100%, 0);	
		}
		
		&:hover::after {
			-webkit-transition-delay: 0.175s;
			transition-delay: 0.175s;
        }
        
        .link-button {
            .links-color(#4183c4, #4183c4, #4183c4, #4183c4, #4183c4, 100%);
            text-decoration: none;
        }
	}
}

.button {
    a {
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		transition: color 0.3s;
        border-radius: 50px !important;
        border: 2px solid #4183c4;
        font-size: @glob-font-size;
        font-family: @glob-font;
        text-decoration: none;
        overflow: hidden;
        padding: 1em 2em;

        &:hover {
            border-color: #4183c4;
        }
    }
}

//
// footer
//

footer {
    @import (less) "../static/css/_footer.less";
}

//
// custom
//

@import (less) "../static/css/_links.less";

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes rotate {
	0% { transform: rotate(0deg); }
	70%, 100% { transform: rotate(90deg); }
}