//
// main
//

.global-settings();

html {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

body {
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    -webkit-text-size-adjust: none;
    color: @glob-font-color;
    font-weight: 400;
    cursor: default;
    height: 100%;
    margin: 0;
}

@media @msm {
    body {
        font-size: 1.1em;
        line-height: 1.4;
    }
}

input, textarea, select, button {
    font-family: @glob-font;
}

h1, h2, h3, h4, h5, h6 {
    .post-settings();
    margin-bottom: @post-bottom;
    letter-spacing: -.04rem;
}

p {
    .post-settings();
    margin: @post-top 0 @post-bottom 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
	
	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

//
// body
//

body {
    &.black {
        background-color: @black;
        color: @white;

        .divider-black {
            border-color: @white;
        }
    }
}

//
// main
//

.wrapper {
    background-color: @white;
    flex-direction: column;
    min-height: 100%;
    max-width: @glob-linel + 5;
    display: flex;
    width: 100%;

    @media @xl {
        &.extended {
            max-width: @glob-width + 5;
        }
    }

    .content {
        flex: 1 0 auto;
    }

    &.black {
        background-color: @black;
    }
}

.linel {
    max-width: @glob-linel;
}

//
// header
//

header {
    @import (less) "../static/css/_header.less";
}

//
// sidebar
//

.sidebar {
    @import (less) "../static/css/_sidebar.less";
}

//
// .post
//

.post {
    .post-settings();

    /* Body */

    .title {
        &:first-of-type {
            @media @xl {
                font-size: 1.425em;
            }
        }
    }

    h1, h2, h3, h4, h5, h6 {
        display: inline-block;
        width: 100%;
    }

    p {
        display: inline-block;
        color: @post-text-color;
    }

    & > :first-child {
        margin-top: 0 !important;
    }

    & > :last-child {
        margin-bottom: 0 !important;
    }

    @media @sm {
        & > figure {
            img {
                border-radius: 2px;
            }
        }
    }

    hr {
        margin-bottom: @post-bottom;
        margin-top: @post-top;
        max-width: @post-linel;
        width: 100%;

        font-family: @global;
        font-size: @glob-font-size;
        text-align: center;
        color: @post-text-color;
        display: block;
        border: none;
        opacity: 1;
        
        &::before {
            content: "\2022 \2022 \2022";
        }

        &.easy {
            background-color: #e9eff3;
            height: 1px;
            width: 100%;

            &::before {
                content: none;
            }

            @media @md {
                margin-bottom: @post-bottom + @post-indent;
                margin-top: @post-top + @post-indent;
            }
        }
    }

    ul:not([class]), ol:not([class]) {
        margin-bottom: @post-bottom;
        margin-top: @post-top;
        max-width: @post-linel;
        width: 100%;

        li {
            transform: translateX(1.2rem);
            letter-spacing: -.003em;
            color: @post-text-color;
        }

        ul:not([class]), ol:not([class]) {
            li {
                transform: none;
            }
        }
    }

    /* blockquote */

    blockquote {
        margin-bottom: @post-bottom + @post-indent;
        margin-top: @post-top + @post-indent;
        max-width: @post-linel;
        display: inline-block;
        padding: 0;
        width: 100%;

        p {
            font-size: @glob-font-size + 0.45;
            font-style: italic;
            margin: 0;
        }
    }

    figure {
        margin-bottom: @post-bottom + @post-indent;
        margin-top: @post-top + @post-indent;
        position: relative;
        display: inline-block;
        width: 100%;
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
    }

    /* picture */

    .picture {
        position: relative;
    
        img {
            position: relative;
            display: block;
            margin: 0 auto;
        }
        
        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }
            70%,
            100% {
                transform: rotate(90deg);
            }
        }

        .lightbox-image {
            cursor: zoom-in;
            display: block;
        }

        .caption {
            margin-bottom: 0;
            margin-top: 0;
            max-width: 100%;
            width: 100%;

            p {
                font-family: @glob-font;
                font-size: @post-subtext-size;
                font-weight: @post-subtext-weight;
                line-height: @post-subtext-linel;
                color: @post-subtext-color;
                margin-bottom: 0;
                margin-top: 1rem;
            }
        }
        
        &.left {
            img {
                margin-right: auto;
                margin-left: 0;
            }
        }

        &.wrap {
            margin-right: 0;
            margin-left: 0;
        }

        &.without-shadow {
            img {
                background-color: transparent;
            }
        }
    }

    /* youtube frame */

    .youtube {
        position: relative;
        cursor: pointer;

        img {
            vertical-align: middle;
            border-radius: 2px;
            position: relative;
            width: 100%;
        }

        &.playing, .playing {
            padding-bottom: 56.25%;
            cursor: default;
            width: 100%;

            iframe {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
            }
        }

        .play {
            background-image: url(/static/images/youtube.png);
            background-repeat: no-repeat;
            background-position: 0 -50px;
            background-size: 100% auto;
            position: absolute;
            z-index: 100;
            margin: auto;
            height: 50px;
            width: 69px;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
        }
        
        &:hover { 
            .play {
                background-position: 0 0;
            }
        }
    }

    .gamecard {
        margin-bottom: @post-bottom;
        margin-top: @post-top;
        background: #f4f8fb;

        .like, .dislike {
            font-family: @glob-font;
            font-size: @glob-font-size;

            strong {
                margin-bottom: @nano;
                display: block;
            }
        }

        .vote {
            pointer-events: none;
            position: relative;
            height: 180px;
            width: 170px;

            .voted {
                position: absolute;
                transform: translate(-50%, -50%);
                font-family: @glob-font;
                font-size: @glob-subtext-size;
                left: 50%;
                top: 50%;
            }
        }

        @media @sm {
            margin-bottom: @post-bottom + @post-indent;
            margin-top: @post-top + @post-indent;
            border-radius: 2px;
        }
    }

    & > .row {
        margin-bottom: @post-bottom;
        margin-top: @post-top;

        @media @sm {
            margin-bottom: @post-bottom + @post-indent;
            margin-top: @post-top + @post-indent;
        }
    }
    
    //
    // extended
    //

    /* Post style */

    @import (less) "../static/css/_post.less";

    /* Highlights */

    @import (less) "../static/css/_highlights.less";

}

//
// .blog
//

.blog {
    @import (less) "../static/css/_blog.less";    
}

//
// .photos
//

.photos {
    @import (less) "../static/css/_photos.less";    
}

//
// .works
//

.works {
    @import (less) "../static/css/_works.less";   
}

//
// .page
//

.page {
    @import (less) "../static/css/_page.less";
}

.list {
    @height: 420px;

    .item {
        .thumbnail {
            position: relative;
            font-family: @glob-font;
            border-radius: 2px;
            overflow: hidden;
            height: @height;

            .image {
                position: relative;
                overflow: hidden;
                z-index: 0;

                img {
                    transform: translate(-50%, 0);
                    position: relative;
                    max-width: none;
                    left: 50%;
                }
            }

            .frame {
                position: absolute;
                z-index: 5;
                height: 100%;
                bottom: 0;
                right: 0;
                left: 0;
            }

            .actions {
                font-size: @glob-subtext-size;
                line-height: 0.875;
                position: absolute;
                width: 100%;
                z-index: 10;
                top: 0;

                .category {
                    float: left;
                }

                .time {
                    float: right;
                }
            }

            .info {
                position: absolute;
                z-index: 10;
                bottom: 0;
                right: 0;
                left: 0;

                h1 {
                    font-size: 1.125em;
                    font-weight: 600;
                    margin-bottom: 0;
                    margin-top: 0;
                }

                .description {
                    .post-settings();

                    font-size: @post-subtext-size;
                    line-height: @post-subtext-linel;
                    display: block;
                }
            }

            &.color-white {
                background-color: @black;

                .frame {
                    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 50%);
                }

                .actions, .info, .info h1 {
                    color: @white;
                }
            }

            &.color-default {
                background-color: @action;

                .frame {
                    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(241,243,244,1) 50%);
                }

                .actions, .info, .info h1 {
                    color: @black;
                }
            }
        }
    } 
}

.blog-list {
    .post-short {
        transition: height 200ms;

        & > :last-child {
            margin-bottom: 0 !important;
        }
    }

    .more {
        position: relative;
        z-index: 10;

        &::before {
            content: "";
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 80%);
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 40%,rgba(255,255,255,1) 80%);
            background: linear-gradient(to bottom, rgba(255,255,255,0) 40%,rgba(255,255,255,1) 80%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); 
            pointer-events: none;
            position: absolute;
            display: block;
            z-index: 0;
            height: 350px;
            width: 100%;
            bottom: 0;
            right: 0;
            left: 0;
        }

        a {
            font-family: @glob-font;
            font-size: @glob-subtext-size;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            background: #f1f3f4;
            text-align: center;
            position: relative;
            color: #8890a7;
            display: block;
            padding: 10px;
            border: 0;
            
            &:hover {
                background: #e2e5e6;
                color: #8890a7;                
            }
        }
    }
}

.about {
    background-color: @action;
    position: relative;

    .item {
        position: relative;
        z-index: 10;
    }

    @media @xl {
        &::before {
            background-color: @action;
            padding-right: 9999px;
            margin-right: -9999px;
            padding-left: 9999px;
            margin-left: -9999px;
            position: absolute;
            height: 100%;
            width: 100%;
            content: '';
            z-index: 0;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
        }
    }
}

//
// .pagination
//

.pagination {
    font-size: @glob-font-size;
    font-family: @glob-font;
    line-height: 1;
    flex-shrink: 0;

    p {
        margin-bottom: 0;
    }

    .previous, .next {
        min-width: 85px;
    }

    @media @md {
        .previous {
            text-align: left;
        }

        .page-number {
            text-align: center;
        }

        .next {
            text-align: right;
        }
    }
}

//
// .divider
//

@media @xl {
    .divider {
        &-white {
            border-bottom: 2px solid @white;
        }
        &-black {
            border-bottom: 2px solid @black;
        }
    }
}

//
// button
//

button {
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    font-size: @glob-font-size;
    font-family: @glob-font;
    vertical-align: middle;
    position: relative;
    background: none;
    padding: 1em 2em;
    cursor: pointer;
    display: block;
    color: inherit;
    outline: none;
    border: none;
    z-index: 1;
	
	&.slider {
        border: 2px solid #4183c4;
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
        transition: color 0.3s;
		border-radius: 50px;
        overflow: hidden;

		&::before, &::after {
			content: '';
			-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
			-moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
			-webkit-transition: -webkit-transform 0.3s;
			-moz-transition: transform 0.3s;
            transition: transform 0.3s;
            position: absolute;
			height: 100%;
            bottom: 100%;
            width: 100%;
            z-index: -1;
			left: 0;
		}
		
		&::before {
			background: rgba(65, 131, 196, 0.05);
		}
		
		&::after {
			background: rgba(65, 131, 196, 0.15);
		}
		
		&:hover::before,
		&:hover::after {
			-webkit-transform: translate3d(0, 100%, 0);
			transform: translate3d(0, 100%, 0);	
		}
		
		&:hover::after {
			-webkit-transition-delay: 0.175s;
			transition-delay: 0.175s;
        }
        
        .link-button {
            border-bottom: 0;
        }
	}
}

.button {
    a {
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		transition: color 0.3s;
        border-radius: 50px !important;
        border: 2px solid #4183c4;
        font-size: @glob-font-size;
        font-family: @glob-font;
        text-decoration: none;
        width: fit-content;
        overflow: hidden;
        padding: 1em 2em;
        display: block;

        &:hover {
            border-color: #4183c4;
        }
    }
}

//
// footer
//

footer {
    @import (less) "../static/css/_footer.less";
}

//
// custom
//

@import (less) "../static/css/_menu.less";
@import (less) "../static/css/_modal.less";
@import (less) "../static/css/_links.less";
@import (less) "../static/css/_tooltip.less";
@import (less) "../static/css/_animations.less";
@import (less) "../static/modules/tocbot/_tocbot.less";

//
// stuff
//

.height-full {
    height: 100%;
}