//
// main
//

.global-settings();

html {
    height: 100%;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    background-color: @white;
    overflow-x: hidden;
    cursor: default;
    margin: 0;

    @media @xl {
        max-width: @glob-width;
    }

    @media @msm {
        line-height: 1.35;
        font-size: 1.1em;
    }
}

input, textarea, select, button {
    font-family: @glob-font;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	
	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

//
// header
//

header {
    @import (less) "../static/css/_header.less";
}

//
// .post
//

.post {
    .post-settings();

    /* Grid */

    @media @xl {
        grid-template-columns: ~'[left]' 0 ~'[edge-left]' @grid-edge ~'[outer-left]' 0 ~'[main-left]' 0 ~'[text-left]' 0 ~'[main]' @grid-main ~'[text-right]' 0 ~'[main-right]' @main-outer ~'[inner-left]' @grid-inner ~'[aside]' @grid-aside ~'[inner-right]' @grid-inner ~'[outer-right]' 0 ~'[edge-right]' @grid-edge ~'[right]' 0;
        grid-auto-rows: auto;
        display: grid;

        &>* {
            grid-column: text-left / text-right;
        }

        .post-grid();
    }

    /* title */

    .link-title {
        border-bottom: none;
        color: @black;

        &:hover {
            color: @darkerGray;
        }
    }

    /* Body */

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: @post-bottom;
        max-width: @post-linel;
        font-size: 1.25em;

        @media @xl {
            max-width: 100%;
        }
    }

    p {
        margin-bottom: @post-bottom;
        margin-top: @post-top;
        color: @post-text;
    }

    & > hr {
        font-size: @glob-font-size;
        font-family: @helvetica;
        margin-bottom: @post-bottom;
        margin-top: @post-top;
        text-align: center;
        line-height: 1;
        display: block;
        border: none;
        opacity: 1;
        
        &::before {
            position: relative;
            content: "⌘ ⌘ ⌘";
        }

        &.easy {
            background-color: #f1f1f1;
            height: 1px;
            width: 100%;

            &::before {
                content: none;
            }
        }
    }

    ul:not([class]), ol:not([class]) {
        margin-bottom: @post-bottom;
        margin-right: 0;
        margin-left: 0;
        margin-top: @post-top;
    }

    /* blockquote */

    blockquote {
        margin-bottom: @post-bottom;
        margin-right: 0;
        margin-left: 0;
        margin-top: @post-top;
        position: relative;
        max-width: 45rem;
        padding: 0;

        @media @xl {
            max-width: 100%;
        }

        p {
            font-size: @glob-font-size + 0.4rem;
            font-family: @gregorIT;
            font-style: italic;
            line-height: 1.4;
            max-width: 100%;
            margin: 0;

            @media @xl {
                font-size: @glob-font-size + 0.6rem;
            }
        }
    }

    figure {
        margin-bottom: @post-bottom;
        margin-right: 0;
        margin-left: 0;
        margin-top: @post-top;
    }

    /* picture */

    .picture {
        position: relative;
        max-width: @post-linel;

        @media @xl {
            max-width: 100%;
        }

        .lightbox-image {
            display: block;
        }

        .caption {
            max-width: 100%;
            margin-bottom: 0;
            margin-right: 0;
            margin-left: 0;
            margin-top: 20px;

            p {
                max-width: 100%;
                margin-bottom: 0;
                margin-top: 0;           
            }
        }

        &.center {
            .caption {
                max-width: fit-content;
                text-align: center;
                margin-right: auto;
                margin-left: auto;
            }
        }

        &.aside {
            .caption {
                margin-right: 0;
                margin-left: 0;
            }

            img {
                margin-left: 0;
            }
        }

        &.left {
            img {
                margin-left: 0;
            }            
        }
    }

    & > .picture {

        @media @xl {
            grid-column: text-left / text-right;
        }

        img {
            margin-bottom: 0;
            margin-right: auto;
            margin-left: auto;
            margin-top: 0;
            display: block;
        }
    }

    /* youtube frame */

    .youtube {
        position: relative;
        cursor: pointer;
        width: 100%;

        img {
            vertical-align: middle;
            width: 100%;
        }

        &.playing, .playing {
            padding-bottom: 56.25%;
            cursor: default;

            iframe {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
            }
        }

        .play {
            background: url('../images/youtube-play-btn.png') no-repeat;
            -webkit-background-size: 100% auto;
            background-size: 100% auto;
            background-position: 0 -50px;
            position: absolute;
            transition: none;
            margin: auto;
            height: 50px;
            width: 69px;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
        }
        
        &:hover { 
            .play {
                background-position: 0 0;
            }
        }
    }

    /* cover */

	.cover {
        margin-bottom: @post-bottom;
        margin-top: @post-top;
        position: relative;
        min-height: 100vh;
        height: 100vh;

        @media @md {
            min-height: 60vh;
            height: 60vh;
        }

        img {
            vertical-align: middle;
            position: relative;
            object-fit: cover;
            height: 100%;
            width: 100%;
            z-index: 10;
        }

        @media @xl {
            .frame {
                background-color: @action;
                padding-right: 9999px;
                margin-right: -9999px;
                padding-left: 9999px;
                margin-left: -9999px;
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 0;
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;
            }
        }

        @media @xl {
            grid-column: left / right;
        }
    }

    /* google maps */
    
    .google-maps {
        background-color: #e5e3df;
        margin-bottom: @post-bottom;
        margin-top: @post-top;
        position: relative;

        @media @xl {
            &:before {
                content: '';
                position: absolute;
                background-color: #e5e3df;
                padding-right: 9999px;
                margin-right: -9999px;
                padding-left: 9999px;
                margin-left: -9999px;
                height: 100%;
                width: 100%;
                z-index: 0;
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;
            }
        }

        @media @xl {
            grid-column: left / right;
        }

        .map {
            height: 100vh !important;

            @media @md {
                height: 60vh !important;
            }
        }
    }

    .gist {
        margin-top: @post-top;
        margin-bottom: @post-bottom;
    }

    /* Tags & Actions */

    .tags, .actions {
        font-size: @glob-font-size;
        font-family: @glob-font;
        color: @post-subtext;
    }

    /* Tags */

    .tags {
        margin-bottom: @post-bottom;
        margin-top: @post-top;
        max-width: @post-linel;

        @media @xl {
            grid-column: text-left / text-right;
        }
    }

    /* Actions */

	.actions {
        max-width: ~"calc("@post-linel ~" + 32px)";
        margin-top: @post-top;

        @media @xl {
            max-width: none;
        }

        .link-action {
            color: @post-subtext;

            &:hover {
                color: @black;
            }
        }
    }

    /* Comments */

    .comments {
        .thread {
            position: relative;

            iframe {
                position: relative;
                z-index: 10;
            }
        }
    }

    /* Related */

    .related {
        font-size: @glob-font-size;
        font-family: @glob-font;

        ul {
            list-style: none;
            padding: 0;
        }
    }

    //
    // extended
    //

    /* Tocbot */

    @import (less) "../static/modules/tocbot/_tocbot.less";

    /* Highlights */

    @import (less) "../static/css/_highlights.less";

    /* Post style */

    @import (less) "../static/css/_post.less";

}

//
// .blog
//

.blog {
    @import (less) "../static/css/_blog.less";    
}

//
// .photos
//

.photos {
    @import (less) "../static/css/_photos.less";    
}

//
// .works
//

.works {
    @import (less) "../static/css/_works.less";   
}

//
// .page
//

.page {
    @import (less) "../static/css/_page.less";
}

//
// .pagination
//

.pagination {
    font-size: @glob-font-size;
    font-family: @glob-font;
    line-height: 1.25;

    p {
        margin-bottom: 0;
    }

    .previous, .next {
        min-width: 85px;
    }

    @media @md {
        .previous {
            text-align: left;
        }

        .page-number {
            text-align: center;
        }

        .next {
            text-align: right;
        }
    }
}

//
// .divider
//

.divider {
    .line {
        background-color: rgba(0, 0, 0, 0.05);
        margin: 0 auto;
        border: none;
        height: 1px;
        width: 100%;
    }
}

//
// button
//

button {
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    font-size: @glob-font-size;
    font-family: @glob-font;
    vertical-align: middle;
    position: relative;
    background: none;
    padding: 1em 2em;
    cursor: pointer;
    display: block;
    color: inherit;
    outline: none;
    border: none;
    z-index: 1;
	
	&.slider {
        border: 2px solid #4183c4;
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
        transition: color 0.3s;
		border-radius: 50px;
        overflow: hidden;

		&::before, &::after {
			content: '';
			-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
			-moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
			-webkit-transition: -webkit-transform 0.3s;
			-moz-transition: transform 0.3s;
            transition: transform 0.3s;
            position: absolute;
			height: 100%;
            bottom: 100%;
            width: 100%;
            z-index: -1;
			left: 0;
		}
		
		&::before {
			background: rgba(65, 131, 196, 0.05);
		}
		
		&::after {
			background: rgba(65, 131, 196, 0.15);
		}
		
		&:hover::before,
		&:hover::after {
			-webkit-transform: translate3d(0, 100%, 0);
			transform: translate3d(0, 100%, 0);	
		}
		
		&:hover::after {
			-webkit-transition-delay: 0.175s;
			transition-delay: 0.175s;
        }
        
        .link-button {
            border-bottom: 0;
        }
	}
}

.button {
    a {
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		transition: color 0.3s;
        border-radius: 50px !important;
        border: 2px solid #4183c4;
        font-size: @glob-font-size;
        font-family: @glob-font;
        text-decoration: none;
        width: fit-content;
        overflow: hidden;
        padding: 1em 2em;
        display: block;

        &:hover {
            border-color: #4183c4;
        }
    }
}

//
// footer
//

footer {
    @import (less) "../static/css/_footer.less";
}

//
// custom
//

@import (less) "../static/css/_menu.less";
@import (less) "../static/css/_modal.less";
@import (less) "../static/css/_links.less";
@import (less) "../static/css/_tooltip.less";
@import (less) "../static/css/_animations.less";