strong {
    font-size: @glob-font-size;
    font-family: @glob-font;
    letter-spacing: -0.05rem;
    display: block;
}

.item {
    font-size: @glob-font-size;
    font-family: @glob-font;
}

.link-readmore {
    font-size: @glob-font-size;
    font-family: @helvetica;
    display: inline-block;
    border-bottom: none;
    color: @black;

    &:hover {
        color: @red;
    }
}