strong {
    font-size: @glob-font-size;
    font-family: @glob-header;
    line-height: 1;
    display: block;
}

.item {
    font-size: @glob-font-size;
    font-family: @glob-font;
}

.link-readmore {
    font-size: @glob-font-size;
    font-family: @glob-font;
    display: inline-block;
    line-height: 1;
}