& {
    max-width: calc(~"@{glob-width} - @{base} - @{base}");
}

.copyright {
    font-size: @glob-font-size;
    font-family: @glob-font;
    line-height: 1.3;
}

.scroll-to-top {
    display: none;

    .show {
        display: block;
    }
}

//
// .breadcrumbs
//

.breadcrumb {
    font-size: @glob-font-size;
    font-family: @glob-font;
    list-style: none;
    padding: 0;
    margin: 0;
    
    &:after {
        display: table;
        clear: both;
        content: '';
    }
    
    &-item {
        line-height: normal;
        float: left;
    }
}

.breadcrumb-item {
    &:after {
        display: inline-block;
        padding-right: @nano;
        padding-left: @nano;
        color: #a9b1b5;
        content: '\00B7';
    }

    &:last-of-type:after {
        content: none;
    }
}

//
// .search
//

.search {
    position: relative;
    
    .search-form {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-radius: 50px;
        position: relative;
        margin-left: auto;
        overflow: hidden;
        height: 48px;
        width: 48px;

        .search-box {
            font-size: @glob-font-size;
            background: transparent;
            visibility: hidden;
            padding-right: 48px;
            padding-left: 25px;
            min-width: 17.5rem;
            box-shadow: none;
            height: 100%;
            border: none;

            &:focus {
                outline: none;
            }
        }
        
        .search-button {
            font-size: @glob-font-size;
            padding-bottom: 16px;
            padding-right: 16px;
            padding-left: 16px;
            padding-top: 16px;
            position: absolute;
            color: #a9b1b5;
            line-height: 0;
            cursor: pointer;
            display: block;
            right: 0;
            top: 0;
            
            i.close {
                display: none;
            }
        }

        @media @mlg {
            background-color: #f1f3f4;
            width: 100%;

            .search-box {
                visibility: visible;
                min-width: 100%;
            }

            .search-button {
                pointer-events: none;
            }
        }
    }

    &.open {
        .search-form {
            background-color: #f1f3f4;
            width: 100%;

            .search-box {
                visibility: visible;
            }
        }
        
        .search-button {
            padding-bottom: 16px;
            padding-right: 18px;
            padding-left: 18px;
            padding-top: 16px;
            
            i.open {
                display: none;
            }
            
            i.close {
                display: block;
            }
        }
        
        .dropdown {
            visibility: visible;
            display: block;

            .results {
                display: block;
            }
        }
    }
    
    .dropdown {
        font-size: @glob-font-size;
        font-family: @glob-font;
        visibility: hidden;
        position: relative;
        display: none;
        z-index: 100;
        
        .results {
            background-color: #fafafa;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            transition: all 0.5s ease;
            border-radius: 2px;
            position: absolute;
            list-style: none;
            padding-left: 0;
            display: none;
            bottom: 48px;
            width: 100%;

            li {
                padding-bottom: 5px;
                padding-right: 20px;
                padding-left: 20px;
                padding-top: 5px;
                
                &:first-of-type {
                    padding-top: 15px;
                }
                
                &:last-of-type {
                    padding-bottom: 15px;
                }
            }
        }

        @media @mlg {
            visibility: visible;
            display: block;

            .results {
                display: block;
            }
        }
    }
}