//
// .search
//

.search {
    max-width: 18rem;
    position: relative;
    
    .search-form {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-radius: 50px;
        position: relative;
        margin-left: auto;
        overflow: hidden;
        height: 48px;
        width: 48px;

        .search-box {
            font-size: @glob-font-size;
            background: transparent;
            visibility: hidden;
            padding-right: 48px;
            padding-left: 25px;
            box-shadow: none;
            border: none;
            height: 100%;
            width: 100%;

            &:focus {
                outline: none;
            }
        }
        
        .search-button {
            font-size: @glob-subtext-size;
            padding-bottom: 17px;
            padding-right: 17px;
            padding-left: 17px;
            padding-top: 17px;
            position: absolute;
            color: #a9b1b5;
            line-height: 0;
            cursor: pointer;
            display: block;
            right: 0;
            top: 0;
            
            i.close {
                display: none;
            }
        }

        @media @msm {
            background-color: @white;
            max-width: 100%;
            width: 100%;

            .search-box {
                visibility: visible;
            }

            .search-button {
                pointer-events: none;
            }
        }
    }

    &.open {
        .search-form {
            background-color: @white;
            width: 100%;

            .search-box {
                visibility: visible;
            }
        }
        
        .search-button {
            padding-bottom: 17px;
            padding-right: 19px;
            padding-left: 19px;
            padding-top: 17px;
            
            i.open {
                display: none;
            }
            
            i.close {
                display: block;
            }
        }
        
        .dropdown {
            visibility: visible;
            display: block;

            .results {
                display: block;
            }
        }
    }
    
    .dropdown {
        visibility: hidden;
        position: relative;
        display: none;
        z-index: 100;
        
        .results {
            background-color: @action;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            transition: all 0.5s ease;
            border-radius: 2px;
            position: absolute;
            list-style: none;
            padding-left: 0;
            display: none;
            width: 100%;
            bottom: initial;
            right: 0;
            top: 24px;

            @media @lg {
                bottom: 72px;
                top: initial;
            }

            li {
                font-size: @glob-font-size;
                font-family: @glob-font;
                padding-bottom: 10px;
                padding-right: 25px;
                padding-left: 25px;
                padding-top: 10x;
                
                &:first-of-type {
                    padding-top: 25px;
                }
                
                &:last-of-type {
                    padding-bottom: 25px;
                }
            }
        }

        @media @msm {
            visibility: visible;
            display: block;

            .results {
                display: block;
            }
        }
    }

    @media @msm {
        max-width: 100%;
    }
}

//
// .logo
//

.logo {
    @logoSize: 48px;

    position: relative;
    display: block;

    img {
        border-radius: 50%;
        height: @logoSize;
        width: @logoSize;
    }

    a {
        text-decoration: none;
        display: inline-block;
        position: relative;
        border-bottom: 0;
        cursor: pointer;
        outline: none;
    }
}

//
// title
//

.logo-txt {
    .logo-name {
        color: @glob-font-color;
        letter-spacing: -.02rem;
        font-family: @glob-header;
        font-size: @glob-font-size;
        line-height: 1;
        display: block;
    }

    .logo-description {
        font-family: @glob-font;
        font-size: @glob-subtext-size;
        color: @glob-subtext-color;
    }
}