a {
    border-bottom: 1px solid;
    border-bottom-color: rgba(65, 131, 196, 0.15);
    text-decoration: none;
    color: #4183C4;
    cursor: pointer;

    &:hover {
        border-bottom-color: rgba(43, 92, 140, 0.15);
        color: #2b5c8c;
    }
}

.link-subcontrol {
    border-bottom-color: rgba(0,0,0,.2);
    color: @black;

    &:hover {
        border-bottom-color: @black;
        color: @black;
    }
}

.link-button {
    border-bottom: none;
    color: #a9b1b5;

    &:hover {
        color: #969da0;
    }
}

.lightbox-image, .anchor {
    border-bottom: none;
}