.navigation {
    position: relative;
    display: none;

    .menu {
        border-top: 1px solid rgba(0,0,0,.05);
        position: relative;
        
        .menu-content {
            -webkit-transition: all 0.1s ease-out;
            -moz-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;
            position: relative;
            display: table;
            width: 100%;
            padding: 0;
            margin: 0;

            li {
                .post-settings();

                font-family: @glob-font;
                font-size: @post-subtext-size;
                line-height: @post-subtext-linel;
                position: relative;
                list-style: none;
                float: left;

                @media @mmd {
                    width: 50%;
                }
            }
        }
    }

}