[full], .full {
    @media @xl {
        grid-column: left / right;
    }
}

[main], .main {
    @media @xl {
        grid-column: text-left / inner-right;
    }
}

[big], .big {
    @media @xl {
        grid-column: text-left / edge-right;
    }
}

[big-outer], .big-outer {
    @media @xl {
        grid-column: left / aside;
    }    
}

[full], .full,
[main], .main,
[big], .big,
[big-outer], .big-outer {
    margin-bottom: @post-bottom !important;
    margin-top: @post-top !important;
    position: relative;

    figure {
        max-width: none !important;

        @media @md {
            margin-bottom: 0 !important;
            margin-top: 0 !important;
        }
    }

    &.dark, &.light-dark {
        @media @xl {
            &::before {
                position: absolute;
                padding-right: 9999px;
                margin-right: -9999px;
                padding-left: 9999px;
                margin-left: -9999px;
                content: '';
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;
            }
        }

        .youtube {
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
        }

        .fotorama {
            .fotorama__nav-wrap {
                position: relative;
                margin-top: -30px;
                z-index: 10;
            }
        }
    }

    &.dark {
        @media @xl {
            &::before {
                background-color: @black;
            }
        }
    }

    &.light-dark {
        @media @xl {
            &::before {
                background-color: #3f3f3f;
            }
        }        
    }
}

[row] {
    margin-right: -16px;
    margin-left: -16px;
    margin-bottom: 0;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
    display: flex;

    figure {
        margin-bottom: @post-bottom;
        margin-top: @post-top;        
    }
}

[base], [block] {
    margin-bottom: @post-bottom;
    margin-top: @post-top;

    &>* {
        margin-bottom: 0;
        margin-top: 0;
    }
}

/* aside */

[aside], .aside {
    position: relative;
    max-width: @post-linel;
    width: 100%;

    @media @xl {
        grid-column: aside / inner-right;
        height: fit-content;
    }

    &, p {
        font-family: @glob-font;
        font-size: @post-subtext-size;
        font-weight: @post-subtext-weight;
        line-height: @post-subtext-linel;
        letter-spacing: normal;
        color: @post-subtext-color;
    }

    img {
        margin-right: 0;
        margin-left: 0;
        
        @media @xl {
            margin-right: auto;
            margin-left: auto;
        }
    }

    &.gray {
        background-color: @action;
        padding: 1em;
    }
}

[shadow], .shadow {
    .youtube {
        -webkit-box-shadow: rgb(70, 70, 70) 0px 0px 100px 0px;
        -moz-box-shadow: rgb(70, 70, 70) 0px 0px 100px 0px;
        box-shadow: rgb(70, 70, 70) 0px 0px 100px 0px;
    }
}