@media @xl {
    [full], .full {
        grid-column: left / edge-right;
    }

    [main], .main {
        grid-column: text-left / inner-right;
    }

    [big], .big {
        grid-column: left / right;
    }

    [big-outer], .big-outer {
        grid-column: left / aside;  
    }
}

[full], .full, [main], .main, [big], .big, [big-outer], .big-outer {
    max-width: none !important;
    position: relative;

    figure {
        max-width: none !important;
    }

    &.dark, &.light-dark {
        .youtube {
            margin-bottom: 0;
            margin-right: 0;
            margin-left: 0;
            margin-top: 0;
        }

        .fotorama {
            .fotorama__nav-wrap {
                position: relative;
                margin-top: -30px;
                z-index: 10;
            }
        }

        @media @md {
            &::before {
                position: absolute;
                padding-right: 9999px;
                margin-right: -9999px;
                padding-left: 9999px;
                margin-left: -9999px;
                content: '';
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;
            }
        }
    }

    &.dark {
        @media @md {
            &::before {
                background-color: @black;
            }
        }
    }

    &.light-dark {
        @media @md {
            &::before {
                background-color: #3f3f3f;
            }
        }        
    }
}

[row] {
    margin-right: -8px;
    margin-left: -8px;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
    display: flex;
}

[base], [block] {
    margin-bottom: @post-bottom;
    margin-top: @post-top;

    &>* {
        margin-bottom: 0;
        margin-top: 0;
    }
}

/* aside */

[aside], .aside {
    position: relative;
    margin-bottom: @post-bottom;
    margin-top: @post-top;
    max-width: @post-linel;
    width: 100%;

    @media @xl {
        grid-column: aside-right;
        height: fit-content;
        padding-left: 1em;
    }

    &, p {
        font-family: @glob-font;
        font-weight: @post-subtext-weight;
        font-size: @post-subtext-size;
        line-height: @post-subtext-linel;
        letter-spacing: normal;
        color: @post-subtext-color;
    }

    img {
        margin-right: 0;
        margin-left: 0;
        
        @media @xl {
            margin-right: auto;
            margin-left: auto;
        }
    }

    &.gray {
        background-color: @action;
        padding: 1em;
    }

    @media @xl {
        &::before {
            position: absolute;
            background-color: @action;
            background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),color-stop(20%,@action),color-stop(80%,@action),to(#fff));
            background-image: -webkit-linear-gradient(top,#fff,@action 20%,@action 80%,#fff);
            background-image: linear-gradient(to bottom,#fff,@action 20%,@action 80%,#fff);
            content: '';
            height: 100%;
            width: 1px;
            left: 0;
            top: 0;
        }
    }
}

[shadow], .shadow {
    .youtube {
        -webkit-box-shadow: rgb(70, 70, 70) 0px 0px 100px 0px;
        -moz-box-shadow: rgb(70, 70, 70) 0px 0px 100px 0px;
        box-shadow: rgb(70, 70, 70) 0px 0px 100px 0px;
    }
}