& {
    background-color: @black;
    position: relative;
    min-height: 350px;
    height: 80vh;

    @media @xl {
        position: fixed;
        z-index: 100;
        height: 100vh;
        width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }
}

.background {
    background-color: @black;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;

    .linel {
        width: 100%;
    }

    .content {
        position: relative;
        flex-direction: column;
        display: flex;
        height: 100%;
        z-index: 1;
    }

    .bg {
        background-position: center center;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        z-index: 0;
        top: -5px;
        left: -5px;
        width: 105%;
        width: ~'calc(100% + 10px)';
        height: 105%;
        height: ~'calc(100% + 10px)';
        -webkit-filter: blur(5px);
        filter: blur(5px);

        &::before {
            background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0.45) 100%, transparent);
            background: -o-linear-gradient(to bottom, rgba(0,0,0,0.45) 100%, transparent);
            background: -moz-linear-gradient(to bottom, rgba(0,0,0,0.45) 100%, transparent);
            background: linear-gradient(to bottom, rgba(0,0,0,0.45) 100%, transparent);
            position: absolute;
            height: 100%;
            width: 100%;
            content: '';
        }
    }

    header {
        flex: 1 0 auto;
        width: 100%;
    }

    .title {
        position: relative;

        @media @mxl {
            flex-shrink: 0;
        }

        h1 {
            text-align: left;
            font-size: 1.6em;
            font-weight: 600;
            color: @white;

            @media @sm {
                font-size: 1.8em;
            }

            @media @xl {
                margin-top: -5px;
                text-align: left;
                font-size: 2em;
            }
        }
    }

    .pagination.aside {
        color: @white;

        .page-number {
            text-align: left;
        }

        a {
            border-bottom-color: rgba(255, 255, 255, 0.1);
            color: @white;

            &:hover {
                border-bottom-color: rgba(221, 221, 221, 0.1);
                color: @lightGray;
            }
        }
    }
}