& {
    background-color: @black;
    position: relative;
    overflow: hidden;
    height: 45vh;

    @media @lg {
        position: fixed;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        top: 0;
    }
}

.background {
    position: relative;
    height: 100%;
    width: 100%;

    .content {
        position: relative;
        display: flex;
        height: 100%;
        z-index: 1;
    }

    .bg {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 100%;

        &::before {
            background: -webkit-linear-gradient(180deg,transparent,rgba(0,0,0,.75));
            background: -o-linear-gradient(180deg,transparent,rgba(0,0,0,.75));
            background: -moz-linear-gradient(180deg,transparent,rgba(0,0,0,.75));
            background: linear-gradient(180deg,transparent,rgba(0,0,0,.75));
            position: absolute;
            height: 100%;
            width: 100%;
            content: '';
        }
    }

    header {
        width: 100%;
    }

    @media @lg {
        header {
            transition: .5s ease-in;
            opacity: .5;
        }

        &:hover {
            header {
                margin-bottom: @micro;
                opacity: 1;
            }
        }
    }
}