//
// VARIABLES
//

// Colors
$blue: #4183C4;
$darkBlue: #487bad;
$main: #292929;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #81868e;
$gray: #a0a0a0;
$lightGray: #ddd;
$whiteGray: #fafafa;
$white: #fff;

// Actions
$action: #f1f3f4;
$actionHover: #e2e5e6;
$actionColor: #b1bcdc;

// Font stacks
$latoMedium: LatoWebMedium, sans-serif;
$latoBlack: LatoWebBlack, sans-serif;
$lato: LatoWeb, sans-serif;
$robotoMono: Roboto Mono, monospace;
$merriweather: Merriweather, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}