html {
    overflow: hidden;
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.container {
    display: block;
    position: absolute;
    overflow: hidden;
    height: 190px;
    width: 300px;
    right: 20px;
    top: 20px;
}
.border {
    position: relative;
    overflow: hidden;
    height: 190px;
    width: 300px;
}
.border:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    border: solid 3px #fff;
}