html {
    overflow: hidden;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "SF UI Text", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}
/*-- camera details --*/
.camera {
    position: absolute;  
    height:100%;
    width:100%;
    z-index:3;
    pointer-events:none;
}
.battery {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 34px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 4px;
    box-sizing: border-box;
}
.battery:after {
    content: ' ';
    background: white;
    width: 5px;
    height: 21px;
    position: absolute;
    right: -10px;
    border-radius: 0px 2px 2px 0px;
    top: 4px;
}
.juice {
    background:red;
    width:15%;
    height:100%;
    animation: blinky 1s ease-in-out infinite;
    animation-delay: 2s;
}
@keyframes blinky { 
    0% {background:transparent;}
    49% {background:transparent;}
    50% {background:red;}
}
.rec {
    position:absolute;
    right: 30px;
    top: 20px;
    color:#fff;
    font-size:30px;
}
.rec span span {
    width:20px;
    height:20px;
    display:inline-block;
    background:red;
    border-radius:50%;
    margin-right:10px;
    animation: blinky 1s ease-in-out infinite;
}
.meta {
    position:absolute;
    bottom:40px;
    right:20px;
    color:#fff;
    font-size:20px;
    letter-spacing:1px;
}
.meta p {
    margin: 0;
}
.exposure {
    border: 2px solid #fff;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-left: 0px;
}
.exposure:after {
    content: ' ';
    position: absolute;
    width: 0px;
    display: block;
    height: 0px;
    top: 0px;
    right: 0px;
    border-left: 0px solid transparent;
    border-right: 20px solid white;
    border-bottom: 0px solid transparent;
    border-top: 20px solid transparent;
}
.exposure span {
    font-size:12px;
}
.exposure span.plus {
    position: absolute;
    top: -2px;
    left: 2px;
}
.exposure span.minus {
    color: #371c3b;
    position: absolute;
    z-index: 1;
    right: 0px;
    font-size: 17px;
    bottom: -5px;
}
.timer {
    position:absolute;
    bottom:40px;
    left:20px;
    color:#fff;
    font-size:20px;
}
.clip-text {
    position: relative;
    display: inline-block;
    user-select: none;
    color: white;
}


.timer__title {
    font-size:20px;
    font-weight: 300;
}

.timer .dots {
    letter-spacing: -2px;
}
  
.minutes:before,
.minutes:after,
.seconds:before,
.seconds:after,
.miliseconds:before,
.miliseconds:after {
    content: "0";
}
  
.minutes:left {
    animation: left 3600s infinite step-end;
}
  
.minutes:after {
    animation: right 600s infinite step-end;
}
  
.seconds:before {
    animation: left 60s infinite step-end;
}
  
.seconds:after {
    animation: right 10s infinite step-end;
}
  
.miliseconds:before {
    animation: right 1s infinite step-end;
}
  
.miliseconds:after {
    animation: right 0.1s infinite step-end;
}
  
@keyframes left {
    16.67% {
        content: "1";
    }
    33.33% {
        content: "2";
    }
    50% {
        content: "3";
    }
    66.67% {
        content: "4";
    }
    83.33% {
        content: "5";
    }
    100% {
        content: "0";
    }
}
@keyframes right {
    10% {
        content: "1";
    }
    20% {
        content: "2";
    }
    30% {
        content: "3";
    }
    40% {
        content: "4";
    }
    50% {
        content: "5";
    }
    60% {
        content: "6";
    }
    70% {
        content: "7";
    }
    80% {
        content: "8";
    }
    90% {
        content: "9";
    }
    100% {
        content: "0";
    }
}