:root {
    /* Width */
    --widthBody:                    57.5rem;

    /* Global */
    --mainFontFamily:               LatoWeb, -apple-system, BlinkMacSystemFont, "SF UI Text", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --mainFontSize:                 1.125em;
    --mainLineHeight:               1.4em;

    /* Note */
    --noteFontFamily:               'PT Sans', -apple-system, BlinkMacSystemFont, "SF UI Text", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --noteFontSize:                 1.295em;
    --noteLineHeight:               1.4em;

    --noteTitleFontFamily:          LatoWebBlack, -apple-system, BlinkMacSystemFont, "SF UI Text", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --noteTitleFontSize:            3.5em;
    --noteTitleLineHeight:          normal;

    --noteCodeFontFamily:           Consolas, 'Liberation Mono', Menlo, 'Courier New', Courier, 'Droid Sans Mono', monospace;

    --noteMediaMarginBottom:        1.875rem;
    --noteMediaMarginTop:           1.875rem;
    --noteMarginBottom:             1.25rem;
    --noteMarginTop:                1.25rem;

    /* Tags */
    --tagFontSize:                  0.625em;
    --tagLineHeight:                1.4em;

    /* Small */
    --smallFontSize:                0.750em;
    --smallLineHeight:              1.4em;

    /* Quote */
    --quoteFontFamily:              GregorIT, Gregor, Georgia, serif;

    /* Radius */
    --borderRadius:                 6px;

    /* Colors */
    --mainColor:                  rgb(0, 0, 0);
    --actionColor:                rgb(227, 230, 234);
    --sidebarColor:               rgb(246, 247, 248);

    --tagColor:                   rgb(61, 79, 84);
    --tagBackgroundHoverColor:    rgb(206, 216, 219);

    --markColor:                  rgb(255, 239, 170);

    /* Link */
    --linkColor:                  rgb(51, 122, 183);
    --linkBorderColor:            rgba(51,122,183,.05);
    --linkHoverColor:             rgb(183, 112, 51);
    --linkHoverBorderColor:       rgba(183,112,51,.1);

    /* Some shit */
    --dy: 1;
	--dx: 1;
	--dz: 0;
}