<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

		<!--[ Meta ]-->
		{% include _index/meta.html %}
		
		<!--[ CSS ]-->
		{% include_cached _index/style.html %}

		<!--[ JS ]-->
		<script type="text/javascript">base_url = "{{ site.url }}";</script>
		{% include _index/schema.html %}
		
	</head>

	<body class="space-in-h-micro-xs space-in-h-mili-md space-in-h-base-lg space-auto-h-xl{% if page.class %} {{ page.class }}{% endif %}{% if layout.class %} {{ layout.class }}{% endif %}">