<header>
	<div class="bg"></div>
	<div class="maintenance">
		<nav class="header">
			<div class="common full">
				<div class="wrapper">
					<div class="navigation">
						<div class="avatar">
							<a href="{{ site.baseurl }}/">
								<img src="{{ site.url }}{{ site.avatar }}" />
							</a>
						</div>
						<div class="frame">
							<div class="menu">
							  {% for item in site.navigation %}
								  {% assign class = nil %}
								  {% if page.url contains item.url %}
									  {% assign class = 'active' %}
								  {% endif %}
								  <a href="{{ item.url }}" class="{{ class }}">
									  {{ item.title }}
								  </a>
							  {% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="aside">
				</div>
			</div>
		</nav>
	</div>
	<div class="sub-bg"></div>
</header>