<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

		<!--[ Meta ]-->
		{% include _index/meta.html %}
		
		<!--[ CSS ]-->
		{% include_cached _index/style.html %}

		<!--[ JS ]-->
		{% include_cached _index/script-header.html %}
		<script type="text/javascript">base_url = "{{ site.url }}";</script>
		{% include _index/schema.html %}

		<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|PT+Serif:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
	</head>

	<body class="space-in-h-micro-xs space-in-h-base-sm wrapper{% if page.wrapper %} {{ page.wrapper }}{% endif %}{% if page.class %} {{ page.class }}{% elsif layout.class %} {{ layout.class }}{% endif %}{% if page.path contains '_posts' %} page-post{% endif %}">