<script type="application/ld+json">
{% if page.layout == 'post' %}
	
	{% assign wordcount = page.content | number_of_words %}

	{  
		"@context":"http://schema.org",
		"@type":"BlogPosting",
		"headline":"{{ page.title }}",
		"genre":"{{ page.category | join: ', ' }}",
		"keywords":"{{ page.tags | join: ', ' }}",
		"wordCount":"{{ wordcount }}",
		"url":"{{ page.url | prepend:site.url | beautify_url }}",
		"datePublished":"{{ page.date | date: '%Y-%m-%d' }}",
		"author":{  
			"@type":"Person",
			"name":"{{ site.author }}",
			"sameAs":[  
				"https://twitter.com/{{ site.twitter }}",
				"https://github.com/{{ site.github }}",
				"https://t.me/{{ site.telegram }}"
			]
		},
		"publisher":{  
			"@type":"Person",
			"name":"{{ site.author }}",
			"sameAs":[  
				"https://twitter.com/{{ site.twitter }}",
				"https://github.com/{{ site.github }}",
				"https://t.me/{{ site.telegram }}"
			],
			"logo": {
				"@type": "ImageObject",
				"contentUrl": "{{ site.url }}/static/images/logo.png",
				"url": "{{ site.url }}/"
			}
		},
		"image":{  
			"@type":"ImageObject",
			"contentUrl":"{% if page.thumbnail %}https://res.cloudinary.com/{{ site.cloudinary }}/image/upload/c_thumb,h_360,q_100,w_640/{{ page.thumbnail }}{% else %}{{ page.image }}{% endif %}",
			"url":"{{ site.url }}/",
			"height":"360",
			"width":"640"
		},
		"mainEntityOfPage":{  
			"@type":"WebPage",
			"@id":"{{ site.url }}/"
		},
		"articleBody":"{{ page.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip }}"
	}

{% else %}

	{
		"@context": "http://schema.org", 
		"@type": "Blog",
		"keywords": "{{ page.tags | join: ', ' }}", 
		"url": "{{ page.url | prepend:site.url | beautify_url }}",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "{{ page.url | prepend:site.url | beautify_url }}"
		},
		"author": {
			"@type": "Person",
			"name": "{{ site.author }}",
			"sameAs": [
				"https://twitter.com/{{ site.twitter }}",
				"https://github.com/{{ site.github }}",
				"https://t.me/{{ site.telegram }}"
			]
		},
		"description": "{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
	}

{% endif %}
</script>