<script type="text/javascript" src="{{ site.baseurl }}/static/js/jquery.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/modules/primarycolor/primarycolor.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/modules/chart/chart.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/modules/infinite-scroll/infinite-scroll.pkgd.min.js"></script>

<script type="text/javascript" src="https://cdn.rawgit.com/Yuukithemes/yuukithemes.github.io/92c11f42/js/advertisement.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/ads.js"></script>