{% include header.html %}
{% include banner.html %}

<main id="blog" class="wrapper main" role="main">
    <form class="space-out-bottom-micro-xs space-out-bottom-zero-md search">
        <input id="search-input" class="search-box form-control fa" placeholder="&#xf002;" onblur="this.placeholder = ''" onfocus="this.placeholder = ''" type="text" autocomplete="off" autocapitalize="off" required>
        <ul class="dropdown results" id="results-container"></ul>
    </form>
    {% for post in site.posts %}
        {% include list.html %}
    {% endfor %}
    <div class="space-in-v-mili-xs end">[ это конец ]</div>
</main>

{% include footer.html %}