---
layout: default
---

{% include_cached header.html %}

<div class="content">
	<div class="post-single">
		<article class="post">

			<div class="common full">
				<img src="{{ page.image }}" class="lazyload" data-src="{{ page.image }}" data-sizes="auto" ondrag="return false" ondragdrop="return false" ondragstart="return false" />
			</div>

			<div class="common">
				<div class="maintenance single">					
					<div class="entry">
						{% if page.description %}
							<p>{{ page.description }}</p>
						{% endif %}
						{{ content }}
					</div>
				</div>
					
				<div class="actions">	
					<div class="tags">
						<span class="date">{{ page.date | russian_date }}</span>
						<a href="{{ page.image }}" download="{{ page.image }}">Сохранить</a>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>

{% include_cached footer.html %}