{% include header.html %}

<main class="space-auto-h-xs wrapper home" role="main">
    <section class="welcome">
        <div class="space-out-bottom-mili-xs avatar motion" id="motion" style="--dy:0; --dx:0;">
            <a href="{{ site.baseurl }}/blog/">
                <img src="{{ site.baseurl }}/assets/images/avatar_192x192.png" width="192" height="192" alt="{{ site.title }}">
            </a>
        </div>
        {{ content }}
        <nav class="space-out-top-base-xs">
            <ul>
                <li><a href="{{ site.baseurl }}/blog/">Блог</a></li> &middot;
                <li><a href="{{ site.baseurl }}/workshop/">Мастерская</a></li> &middot;
                <li><a target="_blank" href="https://www.youtube.com/user/TravkinaPlay">Стримы</a></li> &middot;
                <li><a target="_blank" href="https://www.donationalerts.com/r/sherrycubby">Поддержать</a></li>
            </ul>
        </nav>
    </section>
</main>

{% include footer.html %}