---
layout: blank
class: page
---

<header class="space-in-v-mili-xs home">
	<a class="link-home" href="{{ site.baseurl }}/" title="Назад"><i class="fa fa-chevron-left"></i></a>
</header>

<section class="space-in-v-kilo-xl content">
	<article class="slide-up-fade-in message">
		{{ content | improve | extlinks }}
	</article>
</section>

<style type="text/css">
	body {
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.66) 100%, transparent), url('{{ page.cover }}');
	}
</style>