---
layout: blank
class: page
---

<section class="space-auto-h-xs content linel">
	<header class="space-in-v-mili-xs home">
		<a class="link-home" href="{{ site.baseurl }}/" title="Назад"><i class="fa fa-chevron-left"></i></a>
	</header>

	<div class="space-in-v-kilo-xl content">
		<article class="slide-up-fade-in message">
			{{ content | improve | extlinks }}
		</article>
	</div>
</section>

<style type="text/css">
	body {
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.66) 100%, transparent), url('{{ page.cover }}');
	}
</style>