---
layout: base_posts
---

<article class="space-in-v-mega-xs space-in-v-giga-md space-auto-h-xl post ">
	
	<h1>{{ page.title }}</h1>

	<div class="space-minus-h-mili-xs space-minus-h-base-sm space-out-h-zero-xl google-maps">
		{% google_map width="100%" class="map" zoom="12" %}
	</div>

	{% if page.toc == "true" %}
		<div class="toc js-toc"></div>
	{% endif %}

	{{ content | improve | extlinks }}
			
    {% include _post/actions.html %}
	{% include _post/comments.html %}
	{% include _post/likely.html %}
</article>

{% for c in site.photos %}
{% if c.title == page.title %}
  {% assign thisPost = c %}
  {% if forloop.index == 1 %}
	{% assign prevflag = 0 %}
	{% assign nextflag = 1 %}
  {% elsif forloop.index == forloop.length %}
	{% assign prevflag = 1 %}
	{% assign nextflag = 0 %}
  {% else %}
	{% assign prevflag = 1 %}
	{% assign nextflag = 1 %}
  {% endif %}
{% endif %}
{% endfor %}

{% for c in site.photos %}
  {% if c.title == page.title %}
	{% assign prevflag = 0 %}
  {% endif %}
  {% if prevflag == 1 %}
	{% assign prevPost = c %}
	{% assign page.previous = c %}
  {% endif %}
{% endfor %}

{% if nextflag == 1 %}
  {% for c in site.photos %}
	{% if foundPost == 1 %}
	  {% assign getNext = 1 %}
	{% endif %}
	{% if c.title == page.title %}
	  {% assign foundPost = 1 %}
	{% endif %}
	{% if getNext == 1%}
	  {% assign nextPost = c %}
	  {% assign page.next = c %}
	  {% assign foundPost = 0 %}
	  {% assign getNext = 0 %}
	{% endif %}
  {% endfor %}
{% endif %}

<nav class="row row-between-sm space-out-h-base-xl space-in-bottom-mega-xs space-in-bottom-giga-md pagination">
	<span class="col-xs-12 col-sm-4 space-in-v-nano-xs space-in-v-zero-md space-in-left-zero-xl previous">
        {% if prevPost.url %}
            <a class="link" rel="prev" href="{{ prevPost.url }}">&larr; Ранее</a>
        {% endif %}
    </span>
    <span class="col-xs-12 col-sm-4 space-in-v-nano-xs space-in-v-zero-md space-in-right-zero-xl next">
        {% if nextPost.url %}
            <a class="link" rel="next" href="{{ nextPost.url }}">Позднее &rarr;</a>
        {% endif %}
    </span>
</nav>