---
layout: base_posts
---

<article class="space-out-v-mega-xs space-out-v-giga-sm space-auto-h-xl {% if page.toc == "true" %}js-toc-content{% endif %} post ">
	
	<h1>{{ page.title }}</h1>

	{% include _post/cover.html %}

	{% if page.toc == "true" %}
		<div class="toc js-toc"></div>
	{% endif %}

	{{ content | improve | extlinks | replace: '<!-- more -->', '<a class="anchor" id="more"></a>' }}
			
	<nav class="row actions">
		<div class="col-xs-12 col-sm">
			<time class="space-out-bottom-nano-xs space-out-right-nano-xs">{{ page.date | russian_date }}</time>
			
			{% if page.categories %}
				{% for category in page.categories %}								
					<a class="space-out-bottom-nano-xs space-out-right-nano-xs link" href="{{ site.baseurl }}/blog/categories/{{ category | replace:' ', '-' | downcase }}/">{{ category }}</a>
				{% endfor %}
			{% endif %}

			{% if page.tags.size > 0 %}
				<span class="space-out-bottom-nano-xs space-out-right-nano-xs">&#183;</span>

				{% assign tags = page.tags | sort %}
				{% for tag in tags %}
					<a class="space-out-bottom-nano-xs space-out-right-nano-xs link" href="{{ site.baseurl }}/blog/tags/{{ tag | replace:' ', '-' | downcase }}/">{{ tag }}{% unless forloop.last %},{% endunless %}</a>
				{% endfor %}
			{% endif %}
		</div>
		<div class="col-xs-12 col-sm-shrink">
			<label class="space-out-bottom-nano-xs link link-action" title="Поделиться записью в соцсетях" for="fsociety-{{ page.index | plus: 1 }}">Поделиться</label>
		</div>
	</nav>
	{% include _post/comments.html %}

	{% include _post/likely.html %}
</article>

{% include _post/pagination.html %}