---
layout: default
---

<article class="content post single">
	<header class="common">
		<div class="wrapper">
			<h1 class="title">{{ page.title | improve }}</h1>
		</div>
	</header>

	{% include _post/cover.html %}

	<div class="common">
		<div class="entry">
			{{ content | improve | extlinks }}
		</div>

		<div class="actions">
			<span class="date">{{ page.date | russian_date }}</span>

			<span class="share" title="Поделиться записью в соцсетях">
				<label class="link" for="fsociety-{{ page.slug }}">Поделиться</label>
			</span>
		</div>
	</div>
	{% include likely.html %}
</article>

{% include breadcrumbs.html %}