<article class="post">
	<div class="maintenance single">
		<h1 class="title">
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
		</h1>
		<div class="entry">
			{{ post.content | split:'<!--more-->' }}
		</div>
		<div class="actions">	
			<div class="tags">
				<span class="date" title="{{ post.date | russian_date }}">{{ post.date | date: "%Y" }}</span>	
				{% if post.categories %}
					{% for category in post.categories %}								
						<a href="{{ site.baseurl }}/category/{{ category | replace:' ', '-' | downcase | uri_escape }}/" class="category">{{ category }}</a>
					{% endfor %}
				{% endif %}
				
				{% if post.tags.size > 0 %}
				<span class="point">·</span>
					{% assign tags = post.tags | sort %}
					{% for tag in tags %}
						<a href="{{ site.baseurl }}/tag/{{ tag | replace:' ', '-' | downcase |uri_escape }}/">
							{{ tag }}{% unless forloop.last %},{% endunless %}
						</a>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</article>