<article class="post">
	<div class="entry">
		<h1 class="title">
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | improve }}</a>
		</h1>
		{{ post.content | improve | extlinks }}
		<div class="actions">	
			<div class="tags">
				<span class="date" title="{{ post.date | russian_date }}"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | timeago }}</a></span>	
				
				{% if post.categories %}
					{% for category in post.categories %}								
						<a href="{{ site.baseurl }}/category/{{ category | replace:' ', '-' | downcase | uri_escape }}/" class="category">{{ category }}</a>
					{% endfor %}
				{% endif %}
				
				{% if post.tags.size > 0 %}
					<span class="point">·</span>
					{% assign tags = post.tags | sort %}
					{% for tag in tags %}
						<a href="{{ site.baseurl }}/tag/{{ tag | replace:' ', '-' | downcase | uri_escape }}/" class="tag">{{ tag }}{% unless forloop.last %},{% endunless %}</a>
					{% endfor %}
				{% endif %}

				<span class="share {% unless post.tags.size > 0 %}without-tags{% endunless %}" title="Поделиться записью в соцсетях"><label class="link" for="fsociety-{{ post.slug }}">Поделиться</label></span>
			</div>
		</div>
	</div>
	{% include likely.html %}
</article>