<div class="post">
	<a class="image" href="{{ post.image }}" data-lightbox="image">
		<img class="lazyload" src="{{ post.thumb }}" data-src="{{ post.thumb }}" data-sizes="auto" ondrag="return false" ondragdrop="return false" ondragstart="return false" />
	</a>
	{% if post.description %}
		<div class="maintenance single">
			<p>{{ post.description }}</p>
		</div>
	{% endif %}
	
	<div class="actions">
		<span class="date" title="{{ post.date | russian_date }}"><a href="{{ post.url }}">{{ post.date | date: "%Y" }}</a></span>
	</div>
</div>